@import "variables";

/*!
* Bootstrap v4.3.1 (https://getbootstrap.com/)
* Copyright 2011-2019 The Bootstrap Authors
* Copyright 2011-2019 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/code";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/tables";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/button-group";
@import "../../../node_modules/bootstrap/scss/input-group";
@import "../../../node_modules/bootstrap/scss/custom-forms";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../node_modules/bootstrap/scss/pagination";
@import "../../../node_modules/bootstrap/scss/badge";
@import "../../../node_modules/bootstrap/scss/jumbotron";
@import "../../../node_modules/bootstrap/scss/alert";
@import "../../../node_modules/bootstrap/scss/progress";
@import "../../../node_modules/bootstrap/scss/media";
@import "../../../node_modules/bootstrap/scss/list-group";
@import "../../../node_modules/bootstrap/scss/close";
@import "../../../node_modules/bootstrap/scss/toasts";
@import "../../../node_modules/bootstrap/scss/modal";
@import "../../../node_modules/bootstrap/scss/tooltip";
@import "../../../node_modules/bootstrap/scss/popover";
@import "../../../node_modules/bootstrap/scss/carousel";
@import "../../../node_modules/bootstrap/scss/spinners";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/print";

@import "mixins";

@import "header";
@import "footer";

body {
	touch-action: manipulation;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin animate-opacity($sec: .1s) {
	-webkit-transition: opacity $sec ease-in-out;
	-moz-transition: 	opacity $sec ease-in-out;
	-o-transition: 		opacity $sec ease-in-out;
	transition: 		opacity $sec ease-in-out;
}

.btn {
	&:active,
	&:focus {
		outline: none;
		box-shadow: none;
	}

	&.primary {
		background-color: $primary;
		color: $white !important;
		border-radius: 4px;
		font-weight: 600;
		padding: 12px 24px;

		&:focus,
		&:active {
			position: relative;
			top: 1px;
		}
	}
	&.secondary {
		background-color: $secondary;
		color: $white !important;
		border-radius: 4px;
		font-weight: 600;
		padding: 12px 24px;

		&:focus,
		&:active {
			position: relative;
			top: 1px;
		}
	}
	&.white {
		background-color: $white;
		color: $primary !important;
		border-radius: 4px;
		font-weight: 600;
		padding: 12px 24px;

		&:focus,
		&:active {
			position: relative;
			top: 1px;
		}
	}
}

a {
	color: $secondary;

	&:hover {
		color: $secondary;
	}

	&:focus,
	&:active {
		color: $primary;
	}
}