#footer {
	margin-top: 100px;
	color: $white;

	.seo,
	.seo a {
		font-size: 11px;
		font-weight: 600;
		color: $gray;
		margin-bottom: 20px;
	}

	.main {
		border-top: 1px solid #002f5e;
		background-color: $primary;
		padding-top: 20px;
		font-size: 12px;

		.logo {
			img {
				@include media-breakpoint-down(xs) {margin: 0 auto;}
			}
		}

		.contact {
			font-weight: 600;
			margin-top: 15px;
			margin-bottom: 15px;
			@include media-breakpoint-down(xs) {text-align: center;}

			a {
				color: $secondary;
			}
		}

		ul {
			list-style: none;
			font-weight: 600;
			margin: 50px 0;
			
			li {
				line-height: 18px;

				a {
					color: $white;
					
					&:hover {
						color: $secondary;
					}
				}
			}
		}
	}

	.bottom {
		border-top: 1px solid #003871;
		background-color: #004284;
		text-align: center;
		font-size: 11px;
		line-height: 17px;
		padding: 15px 0;
		font-weight: 600;
	}
}