.header {
	// @include media-breakpoint-down(xs) {
	// 	margin-bottom: 20px;
	// }

	.navbar-default {
		border-bottom: 1px solid #dcdcdc;
		background-color: $white;

		.navbar-header {
			@include media-breakpoint-down(xs) {
				.navbar-toggle {
					margin-top: 22px;
					margin-bottom: 22px;
					background-color: $white;
				}
			}
		}

		.navbar-nav {
			@include media-breakpoint-down(xs) {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		.navbar-nav > li > a {
			padding-top: 30px;
			padding-bottom: 30px;
			color: $gray;
			font-weight: 200;

			@include media-breakpoint-down(xs) {
				padding: 10px;
				border-bottom: 1px solid #F3F3F3;

				&:last-child {
					border-bottom: none;
				}
			}

			&:hover {
				color: $primary;
			}
		}
	}
}

img.flag {
	margin-right: 5px;
	width: 16px;
	height: 12px;
	display: inline-block;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: $white;
    color: $primary;
}

.dropdown-menu > li > a {
	font-size: 12px;
	font-weight: 200;
}

.navbar {
	margin-bottom: 0;
}

.dropdown.open {
	ul.dropdown-menu {
		border: 0;
	}
}

#header.index {
	.header {
		@include media-breakpoint-down(xs) {
			margin-bottom: initial;
		}
	}
}

.dropdown-menu {
	&.last-seen {
		li {
			a {
				padding: 10px;

				.data {
					span {
						display: block;
						font-size: 12px;
						width: 200px;
						white-space: initial;
						margin-left: 50px;

						&.name {
							color: $primary;
							font-size: 14px;
							font-weight: 400;

							sup.category {
								color: $secondary;
								font-size: 10px;
							}
						}

						&.price {
							color: $primary;
							font-size: 12px;
						}
					}
					
					img {
						width: 40px;
						height: 40px;
						float: left;
						margin-right: 10px;
					}
				}
			}			
		}
	}
}

@include media-breakpoint-down(xs) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		padding-left: 10px;
	}
}