.border {border: 1px solid $border-color;}
.border-top {border-top: 1px solid $border-color;}
.border-top-md-down {
	@include media-breakpoint-down(md) {
		border-top: 1px solid $border-color;
	}
}
.border-dashed {
	border-style: dashed !important;
}
.border-bottom {border-bottom: 1px solid $border-color;}
.border-right {border-right: 1px solid $border-color;}
.border-none {border: 0;}
.border-bottom-none {border-bottom: 0;}
.border-color-000000-10 {border-color: rgba(0, 0, 0, .1) !important;}
.border-color-ffffff-10 {border-color: rgba(255, 255, 255, .1) !important;}
.border-color-ffffff-50 {border-color: rgba(255, 255, 255, .5) !important;}
.border-color-ffffff {border-color: rgba(255, 255, 255, 1) !important;}
.bg-transparent {background-color: transparent;}
.bg-white {background-color: $white;}
.bg-gray-100 {background-color: $gray-100;}
.bg-gray-200 {background-color: $gray-200;}
.bg-gray-300 {background-color: $gray-300;}
.bg-gray-400 {background-color: $gray-400;}
.bg-gray-500 {background-color: $gray-500;}
.bg-gray-600 {background-color: $gray-600;}
.bg-gray-700 {background-color: $gray-700;}
.bg-gray-800 {background-color: $gray-800;}
.bg-gray-900 {background-color: $gray-900;}
.bg-black {background-color: $black;}
.bg-primary {background-color: $primary;}
.bg-red {background-color: $red;}
.bg-red-important {background-color: $red !important;}
.bg-brightGray {background-color: $brightGray;}

.bg-gradient-white-to-transparent {background: linear-gradient(0deg, rgba($white, .001), rgba($white, 1));}
.bg-gradient-white-brightGray-sm-only {
	@include media-breakpoint-only(sm) {
		background: linear-gradient(0deg, rgba($brightGray, 1), rgba($brightGray, .001));
	}
}
.bg-gradient-brightGray-white {
	background: linear-gradient(0deg, rgba($brightGray, .001), rgba($brightGray, 1));
}

.text-primary, .color-primary {color: $primary !important;}
.text-secondary, .color-secondary {color: $secondary !important;}
.text-danger, .color-danger {color: $danger;}
.text-inherit, .color-inherit {color: inherit;}
.text-white, .color-white {color: $white;}
.text-gray-100, .color-gray-100 {color: $gray-100;}
.text-gray-200, .color-gray-200 {color: $gray-200;}
.text-gray-300, .color-gray-300 {color: $gray-300;}
.text-gray-400, .color-gray-400 {color: $gray-400;}
.text-gray-500, .color-gray-500 {color: $gray-500;}
.text-gray-600, .color-gray-600 {color: $gray-600;}
.text-gray-700, .color-gray-700 {color: $gray-700;}
.text-gray-800, .color-gray-800 {color: $gray-800;}
.text-gray-900, .color-gray-900 {color: $gray-900;}
.text-gray, .color-gray {color: $gray;}
.text-gray-important, .color-gray-important {color: $gray !important;}
.text-black, .color-black {color: $black}

.hover-text-primary,.hover-color-primary {&:hover {color: $primary !important;}}
.hover-text-secondary,.hover-color-secondary {&:hover {color: $secondary !important;}}
.hover-text-danger,.hover-color-danger {&:hover {color: $danger;}}
.hover-text-inherit,.hover-color-inherit {&:hover {color: inherit;}}
.hover-text-white,.hover-color-white {&:hover {color: $white;}}
.hover-text-gray-100,.hover-color-gray-100 {&:hover {color: $gray-100;}}
.hover-text-gray-200,.hover-color-gray-200 {&:hover {color: $gray-200;}}
.hover-text-gray-300,.hover-color-gray-300 {&:hover {color: $gray-300;}}
.hover-text-gray-400,.hover-color-gray-400 {&:hover {color: $gray-400;}}
.hover-text-gray-500,.hover-color-gray-500 {&:hover {color: $gray-500;}}
.hover-text-gray-600,.hover-color-gray-600 {&:hover {color: $gray-600;}}
.hover-text-gray-700,.hover-color-gray-700 {&:hover {color: $gray-700;}}
.hover-text-gray-800,.hover-color-gray-800 {&:hover {color: $gray-800;}}
.hover-text-gray-900,.hover-color-gray-900 {&:hover {color: $gray-900;}}
.hover-text-gray,.hover-color-gray {&:hover {color: $gray;}}
.hover-text-gray-important,.hover-color-gray-important {&:hover {color: $gray !important;}
}

.hover-text-black,
.hover-color-black {
	&:hover {
		color: $black;
	}
}

.z-index-1 {z-index: 1;}
.z-index-2 {z-index: 2;}

.remove-border-radius,
.border-radius-none {border-radius: 0 !important;}
.border-radius-4 {border-radius: 4px !important;}
.border-radius-8 {border-radius: 8px !important;}
.border-radius-12 {border-radius: 12px !important;}
.border-radius-0 {border-radius: 0px !important;}

// .border-top {border-top: 1px solid $border;}
// .border-bottom {border-bottom: 1px solid $border;}
// .border-left {border-left: 1px solid $border;}
// .border-right {border-right: 1px solid $border;}

.font-size-10 {font-size: 10px}
.font-size-10-xs-down {@include media-breakpoint-down(xs) {font-size: 10px !important;}}
.font-size-11 {font-size: 11px}
.font-size-11-xs-down {@include media-breakpoint-down(xs) {font-size: 11px !important;}}
.font-size-12 {font-size: 12px}
.font-size-12-xs-down {@include media-breakpoint-down(xs) {font-size: 12px !important;}}
.font-size-14 {font-size: 14px}
.font-size-14-xs-down {@include media-breakpoint-down(xs) {font-size: 14px !important;}}
.font-size-15 {font-size: 15px}
.font-size-15-xs-down {@include media-breakpoint-down(xs) {font-size: 15px !important;}}
.font-size-16 {font-size: 16px}
.font-size-16-xs-down {@include media-breakpoint-down(xs) {font-size: 16px !important;}}
.font-size-17 {font-size: 17px}
.font-size-17-xs-down {@include media-breakpoint-down(xs) {font-size: 17px !important;}}
.font-size-18 {font-size: 18px}
.font-size-18-xs-down {@include media-breakpoint-down(xs) {font-size: 18px !important;}}
.font-size-20 {font-size: 20px}
.font-size-20-xs-down {@include media-breakpoint-down(xs) {font-size: 20px !important;}}
.font-size-22 {font-size: 22px}
.font-size-22-xs-down {@include media-breakpoint-down(xs) {font-size: 22px !important;}}
.font-size-24 {font-size: 24px}
.font-size-24-xs-down {@include media-breakpoint-down(xs) {font-size: 24px !important;}}
.font-size-26 {font-size: 26px}
.font-size-26-xs-down {@include media-breakpoint-down(xs) {font-size: 26px !important;}}
.font-size-28 {font-size: 28px}
.font-size-28-xs-down {@include media-breakpoint-down(xs) {font-size: 28px !important;}}
.font-size-30 {font-size: 30px}
.font-size-30-xs-down {@include media-breakpoint-down(xs) {font-size: 30px !important;}}
.font-size-32 {font-size: 32px}
.font-size-32-xs-down {@include media-breakpoint-down(xs) {font-size: 32px !important;}}
.font-size-34 {font-size: 34px}
.font-size-34-xs-down {@include media-breakpoint-down(xs) {font-size: 34px !important;}}
.font-size-36 {font-size: 36px}
.font-size-36-xs-down {@include media-breakpoint-down(xs) {font-size: 36px !important;}}
.font-size-60 {font-size: 60px}
.font-size-60-xs-down {@include media-breakpoint-down(xs) {font-size: 60px !important;}}

.radius-tl-0 {border-top-left-radius: 0 !important;}
.radius-tr-0 {border-top-right-radius: 0 !important;}
.radius-bl-0 {border-bottom-left-radius: 0 !important;}
.radius-br-0 {border-bottom-right-radius: 0 !important;}
.radius-tl-6 {border-top-left-radius: 6px !important;}
.radius-tr-6 {border-top-right-radius: 6px !important;}
.radius-bl-6 {border-bottom-left-radius: 6px !important;}
.radius-br-6 {border-bottom-right-radius: 6px !important;}
.radius-tl-8 {border-top-left-radius: 8px !important;}
.radius-tr-8 {border-top-right-radius: 8px !important;}
.radius-bl-8 {border-bottom-left-radius: 8px !important;}
.radius-br-8 {border-bottom-right-radius: 8px !important;}
.font-weight-100 {font-weight: 100 !important;}
.font-weight-200 {font-weight: 200 !important;}
.font-weight-300 {font-weight: 300 !important;}
.font-weight-400 {font-weight: 400 !important;}
.font-weight-400-xs-down {@include media-breakpoint-down(xs) {font-weight: 400 !important;}}
.font-weight-500 {font-weight: 500 !important;}
.font-weight-600 {font-weight: 600 !important;}
.font-weight-600-xs-down {@include media-breakpoint-down(xs) {font-weight: 600 !important;}}
.font-weight-700 {font-weight: 700 !important;}
.font-weight-800 {font-weight: 800 !important;}
.font-weight-900 {font-weight: 900 !important;}

// .fa-spin-hover:hover {
//     -webkit-animation: fa-spin 1s .5 ease-in-out;
//     -moz-animation: fa-spin 1s .5 ease-in-out;
//     -o-animation: fa-spin 1s .5 ease-in-out;
//     animation: fa-spin 1s .5 ease-in-out;
// }

.cursor-pointer {cursor: pointer;}
.color-primary {color: $primary;}
.color-secondary {color: $secondary;}

a.color-primary {
	color: $primary;

	&:hover {
		color: darken($primary, 5%);
	}
}

a.color-secondary {
	color: $secondary;

	&:hover {
		color: darken($secondary, 5%);
	}
}
.rounded {border-radius: 8px !important;}

.nano-gutters {
	margin-right: -0.25rem;
	margin-left: -0.25rem;

	>[class*="col-"] {
		padding-right: 0.25rem;
		padding-left: 0.25rem;
	}
}

.micro-gutters {
	margin-right: -0.5rem;
	margin-left: -0.5rem;

	>[class*="col-"] {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}
}

.small-gutters {
	margin-right: -1rem;
	margin-left: -1rem;

	>[class*="col-"] {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

.medium-gutters {
	margin-right: -2rem;
	margin-left: -2rem;

	>[class*="col-"] {
		padding-right: 2rem;
		padding-left: 2rem;
	}
}

.large-gutters {
	margin-right: -45px;
	margin-left: -45px;

	>[class*="col-"] {
		padding-right: 45px;
		padding-left: 45px;
	}
}

.flex-basis-0 {flex-basis: 0;}
.opacity-0 {opacity: 0;}
.opacity-50 {opacity: .50;}
.opacity-25 {opacity: .25;}
.min-h-100 {min-height: 100% !important;}

.text-truncate,
.ellipsis {
	@include text-truncate();
}
.white-space-pre-wrap {white-space: pre-wrap;}
.white-space-nowrap {white-space: nowrap;}
.outline-none {outline: none;}
.text-decoration-none {text-decoration: none;}
.text-decoration-none-important {text-decoration: none !important;}
.text-decoration-underline {text-decoration: underline;}
.text-decoration-dashed {
	border-bottom: 1px dashed $primary;
	display: inline-block;

	&:hover {
		text-decoration: none;
		border-bottom: 1px solid $primary;
	}
}
.text-decoration-none-important {text-decoration: none !important;}
.border-radius-100 {border-radius: 100px !important;}
.flex-basis-inherit {flex-basis: inherit;}
.line-height-1 {line-height: 1;}
.line-height-1-2 {line-height: 1.2;}
.line-height-1-5 {line-height: 1.5;}

.container-fluid.gutters-10,
.container.gutters-10 {
	padding-right: 5px;
	padding-left: 5px;

	.row {
		.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col,.col-auto,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm,.col-sm-auto,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-md,.col-md-auto,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg,.col-lg-auto,.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl,.col-xl-auto {
			padding-right: 10px;
			padding-left: 10px;
		}
	}
}

.row.gutters-10 {
	padding-right: 5px;
	padding-left: 5px;
	
	.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col,.col-auto,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm,.col-sm-auto,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-md,.col-md-auto,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg,.col-lg-auto,.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl,.col-xl-auto {
		padding-right: 10px;
		padding-left: 10px;
	}
}

ul {
	&.normalize {
		li {
			list-style: none;
		}
	}
}

.flex-1 {flex: 1;}
.cursor-help {cursor: help;}

a {
	&.text-gray {
		&:hover {
			color: $primary;
		}
	}
}

.flickity-enabled {
	width: 100%;
}

.p-0-xs {@include media-breakpoint-down(xs) {padding: 0 !important;}}
.p-0-xs-down {@include media-breakpoint-down(xs) {padding: 0 !important;}}

.text-center-md-down {
	@include media-breakpoint-down(sm) {
		text-align: center !important;
	}	
}

.p-0-xs-down {@include media-breakpoint-down(xs) {padding: 0 !important;}}

.overflow-hidden {
	overflow: hidden;
}


// SELF INCLUDE
// @include single-listed-experience;
// @include single-listed-property;
// @include range;
// @include filter;

.box-shadow {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.pointer-events-none {
	pointer-events: none;
}

.position-absolute-lg-up {@include media-breakpoint-up(lg) {position: absolute;}}
.position-absolute-md-up {@include media-breakpoint-up(md) {position: absolute;}}

.remove-padding-xs-down {@include media-breakpoint-down(xs) {padding: 0;}}