// $secondary: #fdb813;
$secondary: #FDB813;
$primary: 	#004f9e;
$white: 	#ffffff;
$gray: 		#555555;
$brightGray:#F7F7F7;

$border-color: $gray;

// Add -6 spacer
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    6: (
      $spacer * 6
    )
  ),
  $spacers
);