<!DOCTYPE html>
<html lang="en">
	<head>
		
		{{> common/include-meta}}
	
		{{> common/include-style}}
		
	</head>
	<body>
		
		{{> common/include-just-after-body-start}}

		<div id="header">{{> common/header}}</div>

		<div id="content" class="accommodation">
			
			<div class="container-fluid hidden-xs">
				<div class="row breadcrumbs">
					<div class="col-md-12">
						<div class="container">

							<ol class="breadcrumb">
								<li><a href="{{set.root}}/index.html">Domov</a></li>
								<li><a href="{{set.root}}/search.html">Rezultati iskanja</a></li>
								<li class="active">Accommodation</li>
							</ol>

						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row head">
					<div class="col-sm-8">
						<h1>Accommodation name <sup class="category"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty "></i></sup></h1>
						<div class="details">Apartma za do <b>8</b> oseb • Sončno nabrežje 34 • <a href="" class="show-on-map">Prikaži na zamljevidu</a></div>
					</div>
					<div class="col-sm-4 hidden-xs">
						<a class="cta" href="#">
							<div class="price">že od <span>199€</span></div>
							<div class="persons">na dan za <b>2 odrasla</b> in <b>2 otroka</b></div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-9 clearfix">
						<div class="gallery">
							<div id="accommodation-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/354/35435399.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35362423.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max500/353/35367044.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max500/353/35370398.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max500/353/35329753.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/352/35295243.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35362515.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max500/354/35435237.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/354/35435525.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35370184.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/231/23199268.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/223/22339563.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max500/354/35435052.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35369561.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max500/354/35435462.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max500/353/35361980.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max500/353/35367776.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35329597.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max500/353/35329524.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35364093.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35361874.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/279/27930701.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/231/23199308.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35366447.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35361743.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max500/354/35435418.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max500/279/27930603.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/177/17728199.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35369222.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35368730.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/354/35435472.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35362090.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/177/17728213.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/223/22339095.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/223/22339120.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/177/17728165.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/177/17728206.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/177/17746965.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max500/177/17728205.jpg" class="img-responsive flex-center">
										</div>
									</div>
									<div class="item">
										<div class="flex">
											<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/177/17746957.jpg" class="img-responsive flex-center">
										</div>
									</div>
								</div>

								<ol class="carousel-indicators hidden-xs">
									<li data-target="#accommodation-carousel" data-slide-to="0" class="active flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/354/35435399.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="1" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35362423.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="2" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max500/353/35367044.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="3" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max500/353/35370398.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="4" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max500/353/35329753.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="5" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/352/35295243.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="6" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35362515.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="7" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max500/354/35435237.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="8" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/354/35435525.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="9" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35370184.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="10" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/231/23199268.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="11" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/223/22339563.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="12" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max500/354/35435052.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="13" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35369561.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="14" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max500/354/35435462.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="15" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max500/353/35361980.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="16" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max500/353/35367776.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="17" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35329597.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="18" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max500/353/35329524.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="19" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35364093.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="20" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35361874.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="21" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/279/27930701.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="22" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/231/23199308.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="23" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35366447.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="24" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35361743.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="25" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max500/354/35435418.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="26" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max500/279/27930603.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="27" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/177/17728199.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="28" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35369222.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="29" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35368730.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="30" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/354/35435472.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="31" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35362090.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="32" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/177/17728213.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="33" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/223/22339095.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="34" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/223/22339120.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="35" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/177/17728165.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="36" class="flex">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/177/17728206.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="37" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/177/17746965.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="38" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max500/177/17728205.jpg" class="flex-center">
									</li>
									<li data-target="#accommodation-carousel" data-slide-to="39" class="flex">
										<img src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/177/17746957.jpg" class="flex-center">
									</li>
								</ol>

								<a class="left carousel-control" href="#accommodation-carousel" role="button" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Nazaj</span>
								</a>
								<a class="right carousel-control" href="#accommodation-carousel" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Naprej</span>
								</a>

								<div class="tags">
									<span class="label label-default">Parkirišče</span>
									<span class="label label-default">Wifi</span>
									<span class="label label-default">Bazen</span>
									<span class="label label-default">TV</span>
									<span class="label label-default">Klima</span>
									<span class="label label-default">Hišne živali</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="description">
							<p>Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
							<div class="show-more">
								<i class="fa fa-caret-down"></i> Pokaži več
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row price-table">
					<div class="col-md-12">
						<h2>Razpoložljivost nastanitve Accommodation name</h2>
						<div class="query-details"><i class="fa fa-calendar"></i> 15. 06. 2015 - 16. 06. 2015 • <i class="fa fa-user"></i> 2 odrasla <a id="openSearchAndCheckInDate">(spremeni)</a></div>

						{{> common/search-box-accommodation}}
						
						<div class="facilities">
							
							{{> common/facility-with-search-query}}
							{{> common/facility-with-search-query}}

							{{!-- {{> common/facility-no-dates}} --}}

						</div>

					</div>
				</div>
			</div>

			<div class="container">
				<div class="row amenities">
					<div class="col-md-12">
						<h2>Ponudba in storitve nastanitve Accommodation name</h2>
						<ul>
							<li>
								<span class="title">Medijska oprema:</span>
								<span class="content">TV, TV z ravnim zaslonom, kabelski oziroma satelitski programi, telefon v nastanitvi</span>
							</li>
							<li>
								<span class="title">Internet:</span>
								<span class="content">Brezplačen</span>
							</li>
							<li>
								<span class="title">Parkiranje:</span>
								<span class="content">Pred objektom</span>
							</li>
							<li>
								<span class="title">Storitve:</span>
								<span class="content">prevozi (izpis opcij), čiščenje (izpis opcij), varstvo otrok, </span>
							</li>
							<li>
								<span class="title">Hrana in pijača v objektu:</span>
								<span class="content">(polje opisa kulinarike etrips1, sicer opisno polje etrips.2)</span>
							</li>
							<li>
								<span class="title">Hrana in pijača v okolici:</span>
								<span class="content">(polje opisa kulinarike etrips1, sicer opisno polje etrips.2)(polje opisa kulinarike etrips1, sicer opisno polje etrips.2)(polje opisa kulinarike etrips1, sicer opisno polje etrips.2)(polje opisa kulinarike etrips1, sicer opisno polje etrips.2)</span>
							</li>
							<li>
								<span class="title">Skupni prostori:</span>
								<span class="content">(izpis opcij seznama)</span>
							</li>
							<li>
								<span class="title">Splošno:</span>
								<span class="content">dvigalo, ogrevanje, nastanitev primerna za (izpis vseh opcij)</span>
							</li>
							<li>
								<span class="title">Wellness in aktivnosti:</span>
								<span class="content">Izpis opcij z razdaljami iz seznama</span>
							</li>
							<li>
								<span class="title">Drugo v okolici objekta:</span>
								<span class="content">(izpis opcij z razdaljami iz seznama – trgovina in izpis opisnega polja)</span>
							</li>
							<li>
								<span class="title">Tematski objekt:</span>
								<span class="content">(Zidanica, Hiša s tradicijo, Turistična kmetija)</span>
							</li>
						</ul>
						<div class="back-to-search-results">
							<a href="{{set.root}}/search.html"><i class="fa fa-caret-left"></i> Nazaj na rezultate iskanja</a>
						</div>
					</div>
				</div>

				<div class="row policies">
					<div class="col-md-12">
						<h2>Ponudba in storitve nastanitve Accommodation name</h2>
						<ul>
							<li>
								<span class="title">Prijava:</span>
								<span class="content">9h - 14ih</span>
							</li>
							<li>
								<span class="title">Odjava:</span>
								<span class="content">7h - 11h</span>
							</li>
							<li>
								<span class="title">Recepcija:</span>
								<span class="content">7ih - 15ih</span>
							</li>
							<li>
								<span class="title">Interakcija z gosti:</span>
								<span class="content"></span>
							</li>
							<li>
								<span class="title">Odpoved / predplačila:</span>
								<span class="content">Če prejmemo vaše obvestilo od 0 do 2 dni pred odhodom je strošek odpovedi 100% celotne vrednosti rezervacije.</span>
							</li>
							<li>
								<span class="title">Min doba najema:</span>
								<span class="content">7dni</span>
							</li>
							<li>
								<span class="title">Turistična taksa:</span>
								<span class="content">2€ za odraslo osebo, 0,50€ za otroka</span>
							</li>
							<li>
								<span class="title">Otroci in pomožne postelje:</span>
								<span class="content">stajica (do 5 let)</span>
							</li>
							<li>
								<span class="title">Hišni ljubljenčki:</span>
								<span class="content">dovoljeni</span>
							</li>
							<li>
								<span class="title">Govorjeni jeziki:</span>
								<span class="content">SL, EN, IT</span>
							</li>
							<li>
								<span class="title">Sprejemamo kartice:</span>
								<span class="content">Visa, MasterCard</span>
							</li>
						</ul>
						<div class="back-to-search-results">
							<a href="{{set.root}}/search.html"><i class="fa fa-caret-left"></i> Nazaj na rezultate iskanja</a>
						</div>
					</div>
				</div>

				<div class="row facility-details">
					<div class="col-md-12">
						<h2>Podrobnosti nastanitve Accommodation name</h2>
						<ul>
							<li>
								<span class="content">Hotel ne sprejema plačil s čeki. </span>
							</li>
							<li>
								<span class="content">Za vsako rezervacijo s predplačilom je ob prihodu potrebno predložiti kreditno kartico, uporabljeno za rezervacijo. V nasprotnem primeru bo potrebno opraviti novo plačilo s predloženo kreditno kartico. </span>
							</li>
							<li>
								<span class="content">V triposteljni sobi ni mogoče namestiti dodatnih ležišč in otroških posteljic. </span>
							</li>
							<li>
								<span class="content">Če potujete z otroki, morate v času rezervacije v okence za opombe navesti njihovo starost.</span>
							</li>
						</ul>
						<div class="back-to-search-results">
							<a href="{{set.root}}/search.html"><i class="fa fa-caret-left"></i> Nazaj na rezultate iskanja</a>
						</div>
					</div>
				</div>

				<div class="row map">
					<div class="col-md-12">
						<h2>Lokacija nastanitve Accommodation name</h2>
						<div class="details">Sončno nabrežje 34, 5000 Piran, Slovenija • 46°22'05.1"N 14°06'44.6"E</div>
						<div class="google-map">
							<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{accommodation.geolocation.latitude}},{{accommodation.geolocation.longitude}}&language={{lang}}&maptype=roadmap&key=AIzaSyCY01Ka-d9jj0Bj6-zDBy8Lmt4cnCiWbOU"></iframe>
						</div>

						{{!-- CHANGE API KEY! --> https://developers.google.com/maps/documentation/javascript/tutorial#api_key --}}

						<a class="sr-only" href="https://www.google.com/maps/place/{{accommodation.geolocation.latitude}},{{accommodation.geolocation.longitude}}" itemprop="map" rel="nofollow"></a>
						<div class="back-to-search-results">
							<a href="{{set.root}}/search.html"><i class="fa fa-caret-left"></i> Nazaj na rezultate iskanja</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<div id="footer">

			{{> common/usp}}

			{{> common/footer}}

		</div>

		{{> common/include-just-before-body-end}}

	</body>
</html>