<!DOCTYPE html>
<html lang="en">
	<head>
		
		{{> common/include-meta}}
	
		{{> common/include-style}}
		
	</head>
	<body>
		
		{{> common/include-just-after-body-start}}

		<div id="header">{{> common/header}}</div>

		<div id="content" class="booking">
			
			<div class="container-fluid hidden-xs">
				<div class="row breadcrumbs">
					<div class="col-md-12">
						<div class="container">

							<ol class="breadcrumb">
								<li><a href="{{set.root}}/index.html">Domov</a></li>
								<li><a href="{{set.root}}/search.html">Rezultati iskanja</a></li>
								<li><a href="{{set.root}}/accommodation.html">Accommodation</a></li>
								<li class="active">Rezervacija</li>
							</ol>

						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="progress">
							<table>
								<tr>
									<td>Izbira nastanitve</td>
									<td>Vnos osebnih podatkov in načina plačila</td>
									<td class="later-on">Potrditev rezervacije</td>
								</tr>
								<tr>
									<td class="progress-line done"><img src="{{set.root}}img/progress-check.png" alt=""></td>
									<td class="progress-line active"><img src="{{set.root}}img/progress-circle.png" alt=""></td>
									<td class="progress-line later-on"><img src="{{set.root}}img/progress-circle-later-on.png" alt=""></td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-sm-5 turn-around pull-right">
						<div class="cart">
							<div class="image">
								<div class="flex">
									<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/354/35435399.jpg" class="flex-center">
								</div>
							</div>
							<div class="accommodation">
								<div class="accommodation-name">Accommodation name <sup class="category"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty "></i></sup></div>
								<div>Sončno nabrežje 34, 5000 Piran</div>
							</div>
							<div class="dates">
								<div class="row">
									<div class="col-xs-4">Datum prihoda:</div>
									<div class="col-xs-8"><b>Sobota</b>, 23. 7. 2015</div>
								</div>
								<div class="row">
									<div class="col-xs-4">Datum odhoda:</div>
									<div class="col-xs-8"><b>Sobota</b>, 30. 7. 2015</div>
								</div>
								<div class="row">
									<div class="col-xs-4">Nočitve:</div>
									<div class="col-xs-8"><b>7</b> nočitev</div>
								</div>
								<div class="row">
									<div class="col-xs-4">Gostje:</div>
									<div class="col-xs-8"><b>2</b> odrasla in <b>2</b> otroka</div>
								</div>
							</div>
							<div class="facility">
								<div>Tip namestitve</div>
								<div><b>Facility name</b></div>
								<div>2 spalnici, 1 kopalnica</div>
							</div>
							<div class="price clearfix">
								Končna cena za vse goste za <b>7</b> noči.
								<span class="number pull-right">483€</span>
							</div>
						</div>
						<div class="best-price">
							<p>Garantirano, najboljša cena!</p>
						</div>
					</div>
					<div class="col-md-8 col-sm-7 turn-around pull-left">
						<form action="">
							<div class="personal-data">
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="title">Vaš naziv</label>
										</div>
										<div class="col-sm-9">
											<select class="form-control input-sm place_holder dropdown" id="title">
												<option disabled selected style='display:none;'>Izberi</option>
												<option value="mr">Gospod</option>
												<option value="ms">Gospa</option>
												<option value="miss">Gospodična</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="name">Ime</label>
										</div>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="name" placeholder="Ime">
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="surname">Priimek</label>
										</div>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="surname" placeholder="Priimek">
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="email">E-mail naslov</label>
										</div>
										<div class="col-sm-9">
											<input type="email" class="form-control" id="email" placeholder="E-mail naslov">
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="email">Potrdite e-mail naslov</label>
										</div>
										<div class="col-sm-9">
											<input type="email" class="form-control" id="email" placeholder="Potrdite e-mail naslov">
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="phone">Telefon</label>
										</div>
										<div class="col-sm-9">
											<input type="tel" class="form-control" id="phone" placeholder="Telefon">
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="address">Naslov</label>
										</div>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="address" placeholder="Naslov in hišna številka">
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="post">Poštna številka</label>
										</div>
										<div class="col-sm-9">
											<input type="text" pattern="\d*" class="form-control" id="post" placeholder="Poštna številka">
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="city">Mesto</label>
										</div>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="city" placeholder="Mesto">
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="country">Država</label>
										</div>
										<div class="col-sm-9">
											<select class="form-control input-sm place_holder dropdown" id="country">
												<option disabled selected style='display:none;'>Izberi</option>
												<option value="slovenia">Slovenija</option>
												<option value="croatia">Hrvatska</option>
												<option value="italy">Italia</option>
												<option value="austria">Austria</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="payment-data">
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="payment-type">Način plačila</label>
										</div>
										<div class="col-sm-9">
											<select class="form-control input-sm place_holder dropdown" id="payment-type">
												<option disabled selected style='display:none;'>Izberi</option>
												<option value="mr">MasterCard</option>
												<option value="ms">Visa</option>
												<option value="miss">Wiretransfer</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="credid-card-number">Številka kartice</label>
										</div>
										<div class="col-sm-9">
											<input type="text" pattern="\d*" class="form-control" id="credid-card-number" maxlength="16" placeholder="XXXX - XXXX - XXXX - XXXX">
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="credid-card-valid-month">Veljavnost kartice</label>
										</div>
										<div class="col-sm-9">
											<select class="form-control input-sm place_holder dropdown" id="credid-card-valid-month">
												<option disabled selected style='display:none;'>Mesec</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
											</select>
											<select class="form-control input-sm place_holder dropdown" id="credid-card-valid-year">
												<option disabled selected style='display:none;'>Leto</option>
												<option value="2015">2015</option>
												<option value="2016">2016</option>
												<option value="2017">2017</option>
												<option value="2018">2018</option>
												<option value="2019">2019</option>
												<option value="2020">2020</option>
												<option value="2021">2021</option>
												<option value="2022">2022</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="cvc-number">CVC varnostna koda</label>
										</div>
										<div class="col-sm-9">
											<input type="text" pattern="\d*" class="form-control" id="cvc-number" maxlength="3" placeholder="XXX"> <i class="fa fa-question-circle"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="book">
								<div class="terms">
									<p>S klikom na gumb „Rezerviraj“ se strinjate s <a href="">splošnimi pogoji</a> sistema eTrips.</p>
									<p>Vsi vnešeni podatki so varovani.</p>
								</div>
								<div class="cta">
									<a href="{{set.root}}/booking-success.html" type="submit" class="btn yellow">Rezerviraj za 483€ <i class="fa fa-arrow-right"></i></a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
		
		<div id="footer">

			{{> common/usp}}

			{{> common/footer}}

		</div>

		{{> common/include-just-before-body-end}}

	</body>
</html>