<!DOCTYPE html>
<html lang="en">
	<head>
		
		{{> common/include-meta}}
	
		{{> common/include-style}}
		
	</head>
	<body>
		
		{{> common/include-just-after-body-start}}

		<div id="header">{{> common/header}}</div>

		<div id="content" class="booking">
			
			<div class="container-fluid hidden-xs">
				<div class="row breadcrumbs">
					<div class="col-md-12">
						<div class="container">

							<ol class="breadcrumb">
								<li><a href="{{set.root}}/index.html">Domov</a></li>
								<li><a href="{{set.root}}/search.html">Rezultati iskanja</a></li>
								<li><a href="{{set.root}}/accommodation.html">Accommodation</a></li>
								<li class="active">Rezervacija</li>
								{{!-- <li class="active"><i class="fa fa-check"></i> Rezervirano!</li> --}}
							</ol>

						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="progress">
							<table>
								<tr>
									<td>Izbira nastanitve</td>
									<td>Vnos osebnih podatkov in načina plačila</td>
									<td>Potrditev rezervacije</td>
								</tr>
								<tr>
									<td class="progress-line done"><img src="{{set.root}}img/progress-check.png" alt=""></td>
									<td class="progress-line done"><img src="{{set.root}}img/progress-check.png" alt=""></td>
									<td class="progress-line done"><img src="{{set.root}}img/progress-check.png" alt=""></td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="success">
							<i class="fa fa-check"></i>
							<div class="booked">Rezervirano! Hvala.</div>
							<div class="confirm">Potrditev boste prejeli na vnešen e-mail naslov.</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<div id="footer">

			{{> common/usp}}

			{{> common/footer}}

		</div>

		{{> common/include-just-before-body-end}}

	</body>
</html>