<!DOCTYPE html>
<html lang="en">
	<head>
		
		{{> common/include-meta}}
	
		{{> common/include-style}}
		
	</head>
	<body>
		
		{{> common/include-just-after-body-start}}

		<div id="header" class="index">{{> common/header}}</div>

		<div id="content" class="index">
			
			<div class="container-carousel">
				<div id="index-carousel" class="carousel slide hidden-xs" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<div class="flex">
								<img src="{{set.root}}img/carousel-piran-1920x1280px.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img src="{{set.root}}img/carousel-piran-1920x1280px.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img src="{{set.root}}img/carousel-piran-1920x1280px.jpg" class="flex-center">
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#index-carousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#index-carousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>

				{{> common/search-box}}
				
			</div>

			{{> common/usp}}

			<div class="container promotion">
				<div class="row">
					<div class="col-sm-6">
						<a href="{{set.root}}/accommodation.html" class="offer lg flex">
							<img src="{{set.root}}img/prosciutto.jpg" alt="" class="flex-center img-responsive">
							<div class="circle"></div>
							<div class="content">
								<div class="price">
									od <span class="number">16€</span> na osebo
								</div>
								<div class="title">degustacijski meniji "Po domače"</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-6">
								<div class="offer"></div>
							</div>
							<div class="col-sm-6">
								<div class="offer"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="offer"></div>
							</div>
							<div class="col-sm-6">
								<div class="offer"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row hidden-xs">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-6">
								<div class="offer"></div>
							</div>
							<div class="col-sm-6">
								<div class="offer"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="offer"></div>
							</div>
							<div class="col-sm-6">
								<div class="offer"></div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="offer lg flex">
							<a href="{{set.root}}/accommodation.html"><img src="{{set.root}}img/prosciutto.jpg" alt="" class="flex-center img-responsive"></a>
							<a href="{{set.root}}/search.html">
								<div class="circle"></div>
								<div class="content">
									<div class="price">
										od <span class="number">16€</span> na osebo
									</div>
									<div class="title">degustacijski meniji "Po domače"</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<div id="footer">

			<div class="container seo">
				<div class="row">
					<div class="col-md-12">
						Letalske karte Ljubljana – <a href="">Amsterdam</a> | Letalske karte Ljubljana - Berlin | Letalske karte Ljubljana – Bruselj | Letalske karte Ljubljana – Dunaj | Letalske karte Ljubljana – Frankfurt | Letalske karte Ljubljana - Istanbul | Letalske karte Ljubljana – Kobenhavn | Letalske karte Ljubljana – London | Letalske karte Maribor - London | Letalske karte Ljubljana – Manchester | Letalske karte Ljubljana – Moskva | Letalske karte Ljubljana – München | Letalske karte Ljubljana – Pariz | Letalske karte Ljubljana –Podgorica | Letalske karte Ljubljana –Praga | Letalske karte Ljubljana – Priština | Letalske karte Ljubljana – Sarajevo | Letalske karte Ljubljana – Skopje | Letalske karte Ljubljana - Stockholm | Letalske karte Ljubljana – Tirana | Letalske karte Ljubljana – Varšava | Letalske karte Ljubljana – Zürich
					</div>
				</div>
			</div>

			{{> common/footer}}

		</div>

		{{> common/include-just-before-body-end}}

	</body>
</html>