<!DOCTYPE html>
<html lang="en">
	<head>
		
		{{> common/include-meta}}
		{{> common/include-style}}

		<!--[if IE]>
		<style>
			#content.pridruzise .testimonial #testimonial-carousel .carousel-indicators li {
				display: block !important;
				float: left !important;
				width: 30% !important;
			}
			#content.pridruzise .testimonial #testimonial-carousel .carousel-indicators img {
				width: 30% !important;
				float: left !important;
			}
			#content.pridruzise .testimonial #testimonial-carousel .carousel-indicators .txt {
				padding: 20px !important;
			}
			.navbar-brand {
			    height: 80px;
			}
			#content.pridruzise .testimonial #testimonial-carousel .carousel-caption p {
				background: #f7f7f7;
			}
		</style>
		<![endif]-->

		<!--[if lt IE 9]>
		<style>
			#content.pridruzise .how .line {
				display:none !important;
			}
			#content.pridruzise .how .result {
				display:none !important;
			}
		</style>
		<![endif]-->

		<script src="js/common/respond.src.js"></script>
		
	</head>
	<body class="initial">
		
		{{> common/include-just-after-body-start}}

		<div id="header" class="pridruzise">{{> common/header-pridruzise}}</div>

		<div id="content" class="pridruzise">
			
			<div class="container-fluid">
				<div class="row mood">
					<div class="overlay"></div>
					<div class="col-md-12">
						<div class="container">

							<div class="holder">
								<div class="head">
									<h1>Napredno poslovanje in<br>trženje nastanitev na enem mestu</h1>
									<p class="h2">Dodajte svoje nastanitve v sistem eTrips zdaj!</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2>Zakaj eTrips?</h2>
						<p>Sistem eTrips je platforma, ki združuje ponudnike nastanitev s ponudniki storitev in gosti ter hkrati omogoča celovito vodenje poslovanja. Stopite v korak s časom in se pridružite poslovanju tretjega tisočletja.</p>

						<ul class="why">
							<li>
								<i class="fa fa-check-circle"></i>
								<h3>Več gostov, večja prodaja</h3>
								<p>Trženje v povezavi s svetovnimi tržnimi portali (tudi z Booking.com in AirBnB), turističnimi agencijami in turističnimi informativnimi centri. Z eTrips-ovo lastno spletno stranjo, omogočamo direktne in takojšne (on-line) rezervacije, tudi na na pametnih telefonih in tablicah.</p>
							</li>
							<li>
								<i class="fa fa-check-circle"></i>
								<h3>Lažje, učinkovitejše poslovanje</h3>
								<p>Prijava gostov, obračun turistične takse, izdelava statističnih poročil, sodelovanje s partnerji sistema in številne druge funkcionalnosti za lažje poslovaje v skladu s slovensko zakonodajo na enem mestu.</p>
							</li>
							<li>
								<i class="fa fa-check-circle"></i>
								<h3>Brez tveganja - plačilo po realizaciji</h3>
								<p>Plačilo uporabe poslovnega dela sistema z od 4% do 2% provizijo, a le od realiziranih rezervacij – popolnoma brez tveganja. Zanesljivo delovanje in varno zaščiteni strežniki (ISO 27001). eTrips je rezultat 22 let izkušenj - iz znanja in prakse že od leta 1993 !</p>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<form action="">
							<div class="personal-data">
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">{{!-- EMPTY --}}</div>
										<div class="col-sm-9 title">
											Dodajte svojo nastanitev.<br>
											Postanite partner skupine eTrips.
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="name">Ime <sup><i class="fa fa-star"></i></sup></label>
										</div>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="name" placeholder="Vaše ime...">
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="surname">Priimek <sup><i class="fa fa-star"></i></sup></label>
										</div>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="surname" placeholder="Vaš priimek...">
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3" style="padding-right:0;">
											<label for="email">E-mail naslov <sup><i class="fa fa-star"></i></sup></label>
										</div>
										<div class="col-sm-9">
											<input type="email" class="form-control" id="email" placeholder="Vaš e-mail naslov...">
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="phone">Telefon</label>
										</div>
										<div class="col-sm-9">
											<input type="tel" class="form-control" id="phone" placeholder="Vaša telefonska številka za lažjo komunikacijo...">
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">
											<label for="address">Naziv</label>
										</div>
										<div class="col-sm-9">
											<textarea class="form-control" id="address" placeholder="Naziv pravne osebe, samostojnega podjetnika, ime in priimek sobodajalca, kmeta oz. društva..."></textarea>
										</div>
									</div>
								</div>
								<div class="form-group form-group form-group-sm">
									<div class="row">
										<div class="col-sm-3">{{!-- EMPTY --}}</div>
										<div class="col-sm-9">
											<div class="terms">
												<p>Po kliku na gumb „Začnimo“, boste na vnešen e-mail naslov prejeli dostop do <b>eTrips Managerja</b>. To lahko traja tudi do <b>24 ur</b>.</p>
											</div>
											<div class="cta">
												<a class="btn blue">Začnimo <i class="fa fa-arrow-right"></i></a>
											</div>
											<div class="terms">
												<p>Vsi vnešeni podatki so varovani. Ste se že registrirali? Kliknite <a href="">tu</a>.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="success hide">
								<i class="fa fa-check"></i>
								<div class="title">Podatki so bili uspešno poslani.</div>
								<p>V naslednjem koraku boste na vnešen e-mail naslov
								prejeli dostop do <b>eTrips Manager</b>ja.</p>
								<p>To lahko traja tudi do <b>24 ur</b>.</p>
								<p>Hvala. Veselimo se skupnega sodelovanja.<br>
								Komaj čakamo, da vidimo, kaj vse lahko dosežemo skupaj.</p>
								<img src="{{set.root}}img/etrips-logo.png" alt="eTrips logo" class="img-responsive">
							</div>
						</form>
						{{!-- <form action="">
							<div class="col-md-3">
								Ime
							</div>
							<div class="col-md-9">
								B
							</div>
						</form> --}}
					</div>
				</div>
			</div>

			<div class="container-fluid testimonial">
				<div class="row ">
					<div class="col-md-12">
						<div class="container">
							<div id="testimonial-carousel" class="carousel carousel-fade" data-ride="carousel">
								
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="carousel-caption">
											<p>“{{!-- Upravljamo cca 40 apartmajev v Ljubljani in brez uporabe programa eTrips si sploh ne predstavljamo več poslovanja. Plan zasedenosti je vedno ažuren in se avtomatsko sinhronizira po naših tržnih kanalih, vodimo prihode, odhode gostov, čiščenja, obračun turistične takse in mesečne statistike…  --}}Naše poslovanje je z uporabo eTripsa veliko bolj učinkovito, tako da lahko več časa namenimo gostom.“</p>
											<div class="txt visible-xs">
												<div class="name">Jure Lisec</div>
												<div class="from">Tour As d.o.o.</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="carousel-caption">
											<p>“Z uporabo programa Etrips na svojem mobilniku imam vedno vpogled v razpoložljivost nastanitvenih kapacitet{{!-- , ki jih lahko enostavno rezerviram za svoje goste. Poleg tega s pomočjo Etripsa  ažurno dobivam naročila za prevoze gostov --}}.“</p>
											<div class="txt visible-xs">
												<div class="name">Mitja Matoh</div>
												<div class="from">Avantour prevozi in turizem</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="carousel-caption">
											<p>“Etrips omogoča vse, kar potrebujem za poslovanje na enem mestu, tudi prijavo gostov in izvoz statistike.{{!-- Kot ponudnik nastanitev tržim svoje nastanitve sam in preko tržnika – agencije. Ker oba uporabljava program Etrips, nikoli nimamo težav z dvojnimi rezervacijami, prav tako se plan zasedenosti avtomatsko ažurira z drugimi portali, na katerih tudi tržim nastanitve. Ker Etrips omogoča tudi prijavo gostov, obračun turistične takse, statistike imam na enem mestu vse, kar potrebujem za poslovanje. --}}“</p>
											<div class="txt visible-xs">
												<div class="name">Žiga Arh</div>
												<div class="from">A7 d.o.o.</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#testimonial-carousel" data-slide-to="0" class="active">
										<img src="{{set.root}}img/jure-lisec-color.jpg" alt="" class="img-thumbnail img-responsive">
										<div class="txt hidden-xs">
												<div class="name">Jure Lisec</div>
												<div class="from">Tour As d.o.o.</div>
										</div>
									</li>
									<li data-target="#testimonial-carousel" data-slide-to="1">
										<img src="{{set.root}}img/mitja-matoh-color.jpg" alt="" class="img-thumbnail img-responsive">
										<div class="txt hidden-xs">
												<div class="name">Mitja Matoh</div>
												<div class="from">Avantour prevozi in turizem</div>
										</div>
									</li>
									<li data-target="#testimonial-carousel" data-slide-to="2">
										<img src="{{set.root}}img/ziga-arh-color.jpg" alt="" class="img-thumbnail img-responsive">
										<div class="txt hidden-xs">
												<div class="name">Žiga Arh</div>
												<div class="from">A7 d.o.o.</div>
										</div>
									</li>
								</ol>
								
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid how">
				<div class="row">

					<div class="line endless"></div>

					<div class="col-md-12">
						<div class="container">
							<div class="row">
								<div class="col-md-12">

								</div>
								<div class="col-md-12">
									<h2>Kako pravzaprav deluje eTrips?</h2>
									<div class="line hidden-xs hidden-sm"></div>
								</div>
								<div class="col-md-3">
									<div class="step">1</div>
									<h3>Vi svojo nastanitev vpišete v sistem</h3>
									<p>Vnesete podrobnosti o objektu, nastanitvah in ponudbi, dodate fotografije, pogoje trženja in določila plačil ter sodelovanja s partnerji. Ko vaš račun potrdimo, se prodaja vaših nastanitev in sodobno vodenje poslovanja lahko začne. Nad računom imate vedno vso kontrolo.</p>
								</div>
								<div class="col-md-3">
									<div class="step">2</div>
									<h3>Mi vaše nastanitve povežemo s prodajalci</h3>
									<p>Podatke o vaših prostih nastanitvah povežemo s svetovnimi tržnimi sistemi (booking.com, AirBnB…), vašo ponudbo predstavimo svetu na eTrips-ovi spletni strani, turističnim agencijam, TIC-em in z vaše strani izbranimi partnerji eTripsa. Z ažurnim prenosom podatkov med partnerji eTripsa in tržnimi spletnimi sistemi skrbimo za vaše rezervacije.</p>
								</div>
								<div class="col-md-3">
									<div class="step">3</div>
									<h3>Vi dobite več rezervacij z manj stroškov in truda</h3>
									<p>Stroškov vodenja poslovanja je manj, plačate namreč le do 4% provizije, a le na realizirane rezervacije. Delo si olajšate s številnimi funkcionalnostmi, med drugim, obračun turistične takse, izdelava statističnih poročil in online prijava na policijo.</p>
								</div>
								<div class="col-md-3">
									<div class="step">4</div>
									<div class="result hidden-xs hidden-sm">
										<span class="money">€</span>
										<span class="money">€</span>
										<span class="money">€</span>
										<span class="money">€</span>
									</div>
									<h3>Vi poslujete z odliko in skrbite za lasten razvoj</h3>
									<p>Ker porabite manj časa za prodajo in vodenje poslovanja, se lahko bolj posvetite vašim gostom. V eTripsu boste sodelovanje lahko nadgradili s partnerji skupine eTrips, ki vam bodo pomagali pri zagotavljanju storitev kot so na primer čiščenje, prevozi, izleti. Za razvoj in nadgradnjo sistema eTrips v skladu s slovensko zakonodajo poskrbimo mi.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<div id="footer">

			{{!-- {{> common/usp}} --}}

			{{> common/footer}}

		</div>

		{{> common/include-just-before-body-end}}

		<script>

		$(function () {
			$('.cta .btn').click(function(event) {
				$('.personal-data').addClass('hide');
				$('.success').removeClass('hide');
			});
		});

		</script>

	</body>
</html>