<!DOCTYPE html>
<html lang="en">
	<head>
		
		{{> common/include-meta}}
		{{> common/include-style}}

		<!--[if IE]>
		<style>.counter .countBeds, .counter .countNights {left: 0 !important;}</style>
		<![endif]-->

		{{!-- <script src="js/common/respond.src.js"></script> --}}
		
	</head>
	<body class="initial">
		
		{{> common/include-just-after-body-start}}

		<div id="header" class="pridruzise">{{> common/header-pridruzise}}</div>

		<div id="content" class="pridruzise">
			
			<div class="mood bg-primary">
				<div class="container">
					<div class="row flex-1">
						<div class="col-12 pt-md-6 pb-md-6 text-center">
						{{!-- <div class="col-12 col-md-6 pt-md-6 pb-md-6"> --}}
							<h1 class="text-white font-size-36 font-size-24-xs-down font-weight-600">Prva celostna <br class="d-sm-none"/>aplikacija <br class="d-none d-sm-inline"/>za upravljanje <span class="text-decoration-underline text-secondary" id="wordsHero">nastanitev sobodajalcev</span></h1>
							<p class="h2 text-white font-size-24 font-size-18-xs-down font-weight-300 font-weight-400 mt-4">Iz znanja in prakse že 25 let</p>
						</div>
						{{!-- <div class="col-12 col-md-6 pt-md-6 pb-md-6 d-flex align-items-center justify-content-center">
							<a class="btn secondary mt-4 mb-4 cursor-pointer" id="cta">Oglejte si video <i class="fas fa-long-arrow-right ml-2"></i></a>
						</div> --}}
					</div>
				</div>
			</div>

			<div class="bg-white">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-6 pt-5 pt-sm-6 pb-2 pb-sm-5 pb-lg-6">
							<h2>Zakaj Etrips?</h2>
							<p class="mb-4">Napredno poslovanje in trženje nastanitev na enem mestu. Stopimo v korak s časom in se pridružimo poslovanju tretjega tisočletja.</p>

							<ul class="normalize why">
								<li>
									<i class="fas fa-check-circle color-secondary"></i>
									<h3>Lažje, učinkovitejše delo</h3>
									<p>Upravljanje vseh rezervacij v enem koledarju, prijava in knjiga gostov, mesečno poročanje v eTurizem, obračun storitev gostov, turistične in promocijske takse, izdajanje računov z davčno blagajno, analitika in co-hosting.</p>
								</li>
								<li>
									<i class="fas fa-check-circle color-secondary"></i>
									<h3>Plačilo po realizaciji - brez tveganja</h3>
									<p>Plačate glede na število opravljenih nočitev brez mesečnega pavšala in brez vezave z navzgor omejenim mesečnim zneskom. <a href="#cenik">Oglejte si cenik</a>.</p>
								</li>
								<li>
									<i class="fas fa-check-circle color-secondary"></i>
									<h3>Več gostov, večji uspeh</h3>
									<p class="mb-0">Trženje v povezavi s svetovnimi rezervacijskimi sistemi (tudi z Booking.com in AirBnB), turističnimi agencijami in turističnimi informativnimi centri; omogočamo direktne in takojšne (online) rezervacije.</p>
								</li>
							</ul>
						</div>

						<div class="col-12 col-lg-6 pt-sm-4 pt-lg-6 pb-md-6" id="register">
							<form class="mt-0 needs-validation" name="registration" novalidate>
								<div class="personal-data">
									<div class="form-group form-group form-group-sm">
										<div class="row no-gutters pl-sm-4 pr-sm-4 pt-2 pt-sm-4">
											<div class="col">
												<h3>30 dni lahko Etrips uporabljate popolnoma brezplačno</h3>
												<p>Ustvarite račun in pričnite upravljati svoje rezervacije enostavneje in hitreje že danes. Pozabite na skrbi in se posvetite gostom. Pridružite se Etripsu.</p>
											</div>
										</div>
									</div>
									<div class="form-group form-group form-group-sm">
										<div class="row no-gutters pl-sm-4 pr-sm-4">
											<div class="col-sm-4" style="padding-top:10px;">
												<label class="mb-0" for="name">Ime in priimek</label>
											</div>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="name" placeholder="" required>
												<div class="invalid-feedback">
													Lažje bo, če se predstavimo.
												</div>
											</div>
										</div>
									</div>
									<div class="form-group form-group form-group-sm">
										<div class="row no-gutters pl-sm-4 pr-sm-4">
											<div class="col-sm-4" style="padding-top:10px;">
												<label class="mb-0" for="email">Elektronski naslov</label>
											</div>
											<div class="col-sm-8">
												<input type="email" class="form-control" id="email" placeholder="" required>
												<div class="invalid-feedback">
													Prosimo, vnesite veljaven elektronski naslov.
												</div>
											</div>
										</div>
									</div>
									<div class="form-group form-group form-group-sm">
										<div class="row no-gutters pl-sm-4 pr-sm-4">
											<div class="col-sm-4" style="padding-top:10px;">
												<label class="mb-0" for="password">Geslo</label>
											</div>
											<div class="col-sm-8">
												<input type="password" class="form-control" id="password" placeholder="" required>
												<div class="invalid-feedback">
													Izberite si geslo, ki ga boste kasneje uporabili za prijavo.
												</div>
											</div>
										</div>
									</div>
									<div class="form-group form-group form-group-sm mb-0">
										<div class="row no-gutters pl-sm-4 pr-sm-4">
											<div class="col-sm-4" style="padding-top:10px;">
												<label class="mb-0" for="phone">Telefonska številka</label>
											</div>
											<div class="col-sm-8">
												<input type="tel" class="form-control" id="phone" placeholder="" required>
												<div class="invalid-feedback">
													Potrebujemo jo zgolj za izredne primere.
												</div>
											</div>
										</div>
									</div>
									<div class="form-group form-group form-group-sm">
										<div class="row no-gutters pl-sm-4 pr-sm-4 pb-2 pb-sm 4">
											<div class="col">
												<button class="btn secondary w-100 mt-4 mb-4 cursor-pointer" type="submit" id="submit">Začnite brezplačno breizkusno obdobje <i class="fas fa-long-arrow-right ml-2"></i></button>
												<p class="mb-0">Vsi vnešeni podatki so varovani.<br/>Ste se že registrirali? Za prijavo kliknite <a href="">tukaj</a>.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="success d-none">
									<i class="fa fa-check"></i>
									<div class="title">Podatki so bili uspešno poslani.</div>
									<p>V naslednjem koraku boste na vnesen e-naslov prejeli sporočilo s povezavo za potrditev uporabniškega računa.</p>
									<p>Hvala. Veselimo se skupnega sodelovanja.<br>
									Komaj čakamo, da vidimo, kaj vse lahko dosežemo skupaj.</p>
									<img src="{{set.root}}img/etrips-logo.png" alt="Etrips logo" class="img-responsive">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="bg-brightGray bg-gradient-white-brightGray-sm-only pt-4 pb-4 pt-sm-5 pb-sm-5 pt-md-6 pb-md-6">
				<div class="container">
					<div class="row">
						<div class="col-12 pointer-events-none">
							<h2 class="text-center">Pregled rezervacij iz vseh prodajnih kanalov in urejanje razpoložljivosti. <span>Na enem mestu.</span></h2>
							<div class="d-flex align-items-center justify-content-center channel-manager mt-5 mb-5">
								<img src="{{set.root}}img/graph-channel-manager-landscape-v5.svg" data-no-retina class="landscape img-fluid pointer-events-none d-none d-md-inline-block">
								<img src="{{set.root}}img/graph-channel-manager-portrait-v5.svg" data-no-retina class="portrait img-fluid pointer-events-none d-md-none">
								<div class="your-property d-flex align-items-center justify-content-center" id="changingChannels">
									<div><img height="60px" src="{{set.root}}img/apartma.svg" data-no-retina></div><div class="changingword">vaš apartma</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex">
							<h3 class="font-size-20">Razpršite trženje</h w-100 d-flex align-items-center justify-content-center3>
							<p class="font-weight-400 mt-2">Registrirajte se v nove in unikatne prodajne kanale brez skrbi in povečajte zasedenost.</p>
						</div>
						<div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex">
							<h3 class="font-size-20">Upravljanje cenikov</h w-100 d-flex align-items-center justify-content-center3>
							<p class="font-weight-400 mt-2">Olajšajte si delo in z enega mesta upravljate cene v vseh svojih prodajnih kanalih.</p>
						</div>
						<div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex">
							<h3 class="font-size-20">Rezervacije</h w-100 d-flex align-items-center justify-content-center3>
							<p class="font-weight-400 mt-2">Imejte pregled nad rezervacijami iz vseh prodajnih kanalov na enem mestu.</p>
						</div>
						<div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex">
							<h3 class="font-size-20">Usklajena razpoložljivost</h w-100 d-flex align-items-center justify-content-center3>
							<p class="font-weight-400 mt-2">Naj vas odpiranje in zapiranje prostih terminov na vseh vaših prodajnih kanalih ne skrbi.</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="bg-white pt-5 pt-md-6 pb-xl-6">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h2 class="text-center">Vse potrebno za vodenje vaše namestitve.<br/><span>Z enim samim klikom.</span></h2>
							<div class="d-flex align-items-center justify-content-center features-landscape mt-4 mt-xl-5 mb-4">
								<img src="{{set.root}}img/graph-features-landscape.svg" data-no-retina class="landscape img-fluid pointer-events-none d-none d-md-inline-block">
								<img src="{{set.root}}img/graph-features-portrait.svg" data-no-retina class="portrait img-fluid pointer-events-none d-md-none">
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="bg-primary pt-4 pb-4 pt-md-6 pb-md-6" id="cenik">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h2 class="text-center text-white">Plačilo po realizaciji nočitev, brez tveganja - <span class="color-secondary font-weight-600">že od 0€ / mesec</span>.<br/><span>Pravično in ugodno.</span></h2>
						</div>
					</div>
					<div class="row mt-4 mb-4">
						<div class="col-12 col-sm-6 col-md-3 text-center mb-5 mb-md-0 compare">
							<div class="font-size-36 color-secondary font-weight-300"><span class="font-weight-600">0€</span> / mesec</div>
							<div class="font-size-20 color-white">za <span class="color-secondary font-weight-600">0</span> nočitev, <span class="font-weight-600 color-secondary">6</span> ležišč</div>
						</div>
						<div class="col-12 col-sm-6 col-md-3 text-center mb-5 mb-md-0 compare">
							<div class="font-size-36 color-secondary font-weight-300"><span class="font-weight-600">7.9€</span> / mesec</div>
							<div class="font-size-20 color-white">za <span class="color-secondary font-weight-600">10</span> nočitev, <span class="font-weight-600 color-secondary">6</span> ležišč</div>
						</div>
						<div class="col-12 col-sm-6 col-md-3 text-center mb-5 mb-md-0 compare">
							<div class="font-size-36 color-secondary font-weight-300"><span class="font-weight-600">19€</span> / mesec</div>
							<div class="font-size-20 color-white">za <span class="color-secondary font-weight-600">50</span> nočitev, <span class="font-weight-600 color-secondary">6</span> ležišč</div>
						</div>
						<div class="col-12 col-sm-6 col-md-3 text-center">
							<div class="font-size-36 color-secondary font-weight-300"><span class="font-weight-600">19€</span> / mesec</div>
							<div class="font-size-20 color-white">za <span class="color-secondary font-weight-600">750</span> nočitev, <span class="font-weight-600 color-secondary">6</span> ležišč</div>
						</div>
					</div>
					<div class="row mt-4 mb-4">
						<div class="col-12 col-sm-6 col-md-3 text-center mb-5 mb-md-0 compare">
							<div class="font-size-36 color-secondary font-weight-300"><span class="font-weight-600">0€</span> / mesec</div>
							<div class="font-size-20 color-white">za <span class="color-secondary font-weight-600">0</span> nočitev, <span class="font-weight-600 color-secondary">25</span> ležišč</div>
						</div>
						<div class="col-12 col-sm-6 col-md-3 text-center mb-5 mb-md-0 compare">
							<div class="font-size-36 color-secondary font-weight-300"><span class="font-weight-600">7.9€</span> / mesec</div>
							<div class="font-size-20 color-white">za <span class="color-secondary font-weight-600">10</span> nočitev, <span class="font-weight-600 color-secondary">25</span> ležišč</div>
						</div>
						<div class="col-12 col-sm-6 col-md-3 text-center mb-5 mb-md-0 compare">
							<div class="font-size-36 color-secondary font-weight-300"><span class="font-weight-600">27€</span> / mesec</div>
							<div class="font-size-20 color-white">za <span class="color-secondary font-weight-600">50</span> nočitev, <span class="font-weight-600 color-secondary">25</span> ležišč</div>
						</div>
						<div class="col-12 col-sm-6 col-md-3 text-center">
							<div class="font-size-36 color-secondary font-weight-300"><span class="font-weight-600">36€</span> / mesec</div>
							<div class="font-size-20 color-white">za <span class="color-secondary font-weight-600">750</span> nočitev, <span class="font-weight-600 color-secondary">25</span> ležišč</div>
						</div>
					</div>
					<div class="row micro-gutters mt-md-5 mb-md-5">
						<div class="col-6 col-md-6 col-lg-2">
							<div class="text-white font-size-12 font-weight-700 text-uppercase">Število ležišč v objektu</div>
							<div class="counter qty d-flex align-items-center justify-content-between">
								<div><img src="img/minus.svg" class="minusBeds cursor-pointer calculate" data-no-retina width="30px" height="30px"></div>
								<div class="d-flex">
									<input type="number" class="form-control countBeds" name="beds" value="4" id="beds">
								</div>
								<div><img src="img/plus.svg" class="plusBeds cursor-pointer calculate" data-no-retina width="30px" height="30px"></div>
							</div>
						</div>
						<div class="col-6 col-md-6 col-lg-2">
							<div class="text-white font-size-11 font-weight-700 text-uppercase">
								Realizirane nočitve / mesec
							</div>
							<div class="counter qty d-flex align-items-center justify-content-between">
								<div><img src="img/minus.svg" class="minusNights cursor-pointer calculate" data-no-retina width="30px" height="30px"></div>
								<div class="d-flex">
									<input type="number" class="form-control countNights" name="nights" value="10" id="nights">
								</div>
								<div><img src="img/plus.svg" class="plusNights cursor-pointer calculate" data-no-retina width="30px" height="30px"></div>
							</div>
						</div>
						<div class="col-12 col-md-12 col-lg-3">
							<a class="btn secondary w-100 mt-4 mb-sm-4 cursor-pointer calculate" id="calculate" tabindex="0">Izračunajte ceno <i class="fas fa-long-arrow-right ml-2"></i></a>
						</div>
						<div class="col-12 col-md-12 col-lg-5 text-center">
							<div class="text-white font-size-12 font-weight-700 text-uppercase opacity-0">Vaša cena</div>
							<div class="font-size-32 text-white font-weight-300" id="price-result"><span class="font-weight-600" id="infoprice">7.9€</span> mesečno</div>
						</div>
					</div>
					<div class="row micro-gutters position-relative">
						<div class="col position-absolute-md-up badge mt-4 mb-sm-0 mb-5 mb-md-0">
							<img src="img/badge.svg" data-no-retina width="184px">
						</div>
						<div class="col-12 col-md-6 order-md-first">
							<table class="table table-sm pricing mb-4 mb-md-0">
								<thead>
									<tr>
										<th scope="col" colspan="2">
											<span class="d-sm-none d-md-inline d-lg-none">Št. nočitev / mesec</span>
											<span class="d-none d-sm-inline d-md-none d-lg-inline">Cenik uporabe glede na število nočitev na mesec</span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td scope="row">od 0. do 25. nočitve</td>
										<td>0,79€ / nočitev</td>
									</tr>
									<tr>
										<td scope="row">od 26. do 100. nočitve</td>
										<td>0,29€ / nočitev</td>
									</tr>
									<tr>
										<td scope="row">od 101. do 300. nočitve</td>
										<td>0,19€ / nočitev</td>
									</tr>
									<tr>
										<td scope="row">od 301. do 600. nočitve</td>
										<td>0,15€ / nočitev</td>
									</tr>
									<tr>
										<td scope="row">od 601. do 1500. nočitve</td>
										<td>0,09€ / nočitev</td>
									</tr>
									<tr>
										<td scope="row">od 1501. nočitve naprej</td>
										<td>0,05€ / nočitev</td>
									</tr>
									<tr>
										<td colspan="2" class="catch-table-padding">
											<div>Provizije rezervacijskih portalov (booking.com, airbnb, tripadvisor, etrips portal...) in drugih tržnikov v cene niso vključene.</div>
											<div class="gsd">Člani Zavoda gostoljubnost slovenskih domov (Zavod GSD) <br class="d-none d-md-inline"/>imajo na cene iz cenika in mesečne kape 10% popusta.</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-12 col-md-6">
							<table class="table table-sm pricing mb-4 mb-md-0">
								<thead>
									<tr>
										<th colspan="2" scope="col">Največ na mesec (kapa)</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td scope="row">od 0 do 6 ležišč</td>
										<td>največ 19€ / mesec</td>
									</tr>
									<tr>
										<td scope="row">od 7 do 25 ležišč</td>
										<td>največ 36€ / mesec</td>
									</tr>
									<tr>
										<td scope="row">od 26 do 35 ležišč</td>
										<td>največ 49€ / mesec</td>
									</tr>
									<tr>
										<td scope="row">od 36 do 50 ležišč</td>
										<td>največ 59€ / mesec</td>
									</tr>
									<tr>
										<td scope="row">od 51 do 75 ležišč</td>
										<td>največ 89€ / mesec</td>
									</tr>
									<tr>
										<td scope="row">od 76 do 140 ležišč</td>
										<td>največ 119€ / mesec</td>
									</tr>
									<tr>
										<td scope="row">od 141 do 170 ležišč</td>
										<td>največ 159€ / mesec</td>
									</tr>
									<tr>
										<td scope="row">od 171 do 220 ležišč</td>
										<td>največ 199€ / mesec</td>
									</tr>
									<tr>
										<td scope="row">od 221 ležišč naprej</td>
										<td>največ 290€ / mesec</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="bg-gradient-brightGray-white pt-4 pb-4 pt-md-6 pb-md-6">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h2 class="text-center">Kaj o nas pravijo obstoječi partnerji.<br/><span>Prepričajte se sami.</span></h2>
						</div>
					</div>
				</div>
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="container">
							<div class="row">
								<div class="col-12 pt-5 mb-4 mb-sm-5 mt-sm-4 overflow-hidden">
									<div class="carousel-item pl-4 pr-4 pl-sm-5 pr-sm-5 active">
										<div class="card box-shadow pt-5 pl-4 pr-4 pb-5 p-md-5 text-center position-relative">
											<img src="{{set.root}}img/miro-grabnar.jpg" class="img-thumbnail rounded-circle" data-no-retina>
											<div class="text-gray font-size-32 font-size-18-xs-down font-weight-300 font-italic mb-2">"Brez Etripsa si preglednega vodenja recepcije in sprejemanja online rezervacij iz več sistemov ne predstavljamo več."</div>
											<div class="font-weight-600 text-primary font-size-12">Miro Grabnar<span class="font-weight-300">, Tour Ad d.o.o.</span></div>
										</div>
									</div>
									<div class="carousel-item pl-4 pr-4 pl-sm-5 pr-sm-5">
										<div class="card box-shadow pt-5 pl-4 pr-4 pb-5 p-md-5 text-center position-relative">
											<img src="{{set.root}}img/mitja-matoh.jpg" class="img-thumbnail rounded-circle" data-no-retina>
											<div class="text-gray font-size-32 font-size-18-xs-down font-weight-300 font-italic mb-2">"Z vpogledom v Etrips preko mobilnika kjerkoli dobim podatke o prihodih in odhodih strank."</div>
											<div class="font-weight-600 text-primary font-size-12">Mitja Matoh<span class="font-weight-300">, Avantour prevozi in turizem</span></div>
										</div>
									</div>
									<div class="carousel-item pl-4 pr-4 pl-sm-5 pr-sm-5">
										<div class="card box-shadow pt-5 pl-4 pr-4 pb-5 p-md-5 text-center position-relative">
											<img src="{{set.root}}img/ziga-arh.jpg" class="img-thumbnail rounded-circle" data-no-retina>
											<div class="text-gray font-size-32 font-size-18-xs-down font-weight-300 font-italic mb-2">"Etrips mi poenostavlja sodelovanje z agencijo, oboji spremljamo zasedenost, sprejemamo rezervacije, si predajamo informacije in delimo delo."</div>
											<div class="font-weight-600 text-primary font-size-12">Žiga Arh<span class="font-weight-300">, A7 d.o.o.</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				<div class="container">
					<div class="row micro-gutters">
						<div class="col-6 col-md-4 col-lg-4 col-xl-3 d-flex">
							<div class="card box-shadow text-primary text-center pl-2 pr-2 pt-5 pb-5 mb-3 w-100 d-flex align-items-center justify-content-center">
								<div class="font-weight-600">Buena Vista Apartment</div>
								<div>6 ležišč, Piran</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4 col-xl-3 d-flex">
							<div class="card box-shadow text-primary text-center pl-2 pr-2 pt-5 pb-5 mb-3 w-100 d-flex align-items-center justify-content-center">
								<div class="font-weight-600">Penzion pod Lipo</div>
								<div>38 ležišč, Ljubljana</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4 col-xl-3 d-flex">
							<div class="card box-shadow text-primary text-center pl-2 pr-2 pt-5 pb-5 mb-3 w-100 d-flex align-items-center justify-content-center">
								<div class="font-weight-600">Skupina Apartmaji Tour As</div>
								<div>150 ležišč, Ljubljana</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4 col-xl-3 d-flex">
							<div class="card box-shadow text-primary text-center pl-2 pr-2 pt-5 pb-5 mb-3 w-100 d-flex align-items-center justify-content-center">
								<div class="font-weight-600">Šiker B&B hotel</div>
								<div>25 ležišč, Močna</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4 col-xl-3 d-flex">
							<div class="card box-shadow text-primary text-center pl-2 pr-2 pt-5 pb-5 mb-3 w-100 d-flex align-items-center justify-content-center">
								<div class="font-weight-600">Konzorcij turizem v Zidanicah</div>
								<div>200 ležišč, Dolenjska</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4 col-xl-3 d-flex">
							<div class="card box-shadow text-primary text-center pl-2 pr-2 pt-5 pb-5 mb-3 w-100 d-flex align-items-center justify-content-center">
								<div class="font-weight-600">Rainbow rooms</div>
								<div>6 ležišč, Ljubljana</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4 col-xl-3 d-flex">
							<div class="card box-shadow text-primary text-center pl-2 pr-2 pt-5 pb-5 mb-3 w-100 d-flex align-items-center justify-content-center">
								<div class="font-weight-600">Penzion Lectar</div>
								<div>28 ležišč, Radovljica</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4 col-xl-3 d-flex">
							<div class="card box-shadow text-primary text-center pl-2 pr-2 pt-5 pb-5 mb-3 w-100 d-flex align-items-center justify-content-center">
								<div class="font-weight-600">Apartmaji Piranski Mandrač</div>
								<div>16 ležišč, Piran</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4 col-xl-3 d-flex">
							<div class="card box-shadow text-primary text-center pl-2 pr-2 pt-5 pb-5 mb-3 w-100 d-flex align-items-center justify-content-center">
								<div class="font-weight-600">Guest House RedFairlytale</div>
								<div>6 ležišč, Marezige</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4 col-xl-3 d-flex">
							<div class="card box-shadow text-primary text-center pl-2 pr-2 pt-5 pb-5 mb-3 w-100 d-flex align-items-center justify-content-center">
								<div class="font-weight-600">Apartmaji Bled</div>
								<div>9 ležišč, Bled</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4 col-xl-3 d-flex">
							<div class="card box-shadow text-primary text-center pl-2 pr-2 pt-5 pb-5 mb-3 w-100 d-flex align-items-center justify-content-center">
								<div class="font-weight-600">Hiša Modrin</div>
								<div>6 ležišč, Kamnik</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-4 col-xl-3 d-flex">
							<div class="card box-shadow text-primary text-center pl-2 pr-2 pt-5 pb-5 mb-3 w-100 d-flex align-items-center justify-content-center">
								<div class="font-weight-600">Sobe Černilogar</div>
								<div>6 ležišč, Tolmin</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="bg-white">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h2 class="text-center">Imate vprašanje? Želite predstavitev?<br/><span>Naši strokovnjaki so samo klic (ali klepet, ali Skype, ali email) stran.</span></h2>
							<div class="d-sm-flex align-items-center justify-content-center">
								<div><a class="btn secondary mt-4 mb-2 mt-sm-4 mb-sm-4 cursor-pointer w-100" href="mailto:info@etrips.info">Dogovorite se za sestanek <i class="fas fa-long-arrow-right ml-2"></i></a></div>
								<div class="mr-4"></div>
								<div><a class="btn primary mt-2 mt-sm-4 mb-sm-4 cursor-pointer w-100" href="#register">Registrirajte se <i class="fas fa-long-arrow-right ml-2"></i></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<div id="footer">

			{{!-- {{> common/usp}} --}}

			{{> common/footer}}

		</div>

		{{> common/include-just-before-body-end}}

		<script>
			// Example starter JavaScript for disabling form submissions if there are invalid fields
			(function() {
			'use strict';
			window.addEventListener('load', function() {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
					event.preventDefault();
					event.stopPropagation();
					}
					form.classList.add('was-validated');
				}, false);
				});
			}, false);
			})();
		</script>

		<script>
			$(document).ready(function () {
				$('form.was-validated #submit').click(function(event) {
					$('.personal-data').addClass('d-none');
					$('.success').removeClass('d-none');
				});
			});
		</script>
		<script>
			$(document).ready(function () {
				var wordsHero = [
					'nastanitev na turistični kmetiji',
					'manjšega gostinskega obrata',
					'nastanitev sobodajalcev',
				], i = 0;

				setInterval(function(){
					$('#wordsHero').fadeOut(function(){
						$(this).html(wordsHero[i=(i+1)%wordsHero.length]).fadeIn();
					});
				}, 3000);
			});
		</script>
		<script>
			$(document).ready(function () {
				var changingChannels = [
					'<div><img height="60px" src="{{set.root}}img/hotel.svg" data-no-retina></div><div class="changingword">vaš družinski hotel</div>',
					'<div><img height="60px" src="{{set.root}}img/penzion.svg" data-no-retina></div><div class="changingword">vaš penzion</div>',
					'<div><img height="60px" src="{{set.root}}img/bedbreakfast.svg" data-no-retina></div><div class="changingword">vaš B&B</div>',
					'<div><img height="60px" src="{{set.root}}img/kmetija.svg" data-no-retina></div><div class="changingword">vaša kmetija z nastanitvami</div>',
					'<div><img height="60px" src="{{set.root}}img/naselje.svg" data-no-retina></div><div class="changingword">vaše apartmajsko naselje</div>',
					'<div><img height="60px" src="{{set.root}}img/apartma.svg" data-no-retina></div><div class="changingword">vaš apartma</div>'
				], i = 0;

				setInterval(function(){
					$('#changingChannels').fadeOut(function(){
						$(this).html(changingChannels[i=(i+1)%changingChannels.length]).fadeIn();
					});
				}, 3000);
			});
		</script>

		<script>
			$(document).ready(function () {
				function etripsCalc(a,o){a=parseInt(a),o=parseInt(o);var e=[{stevilo_nocitev:0,cena_na_nocitev:.89,offset:0},{stevilo_nocitev:25,cena_na_nocitev:.79,offset:19.75},{stevilo_nocitev:100,cena_na_nocitev:.29,offset:41.5},{stevilo_nocitev:300,cena_na_nocitev:.19,offset:79.5},{stevilo_nocitev:600,cena_na_nocitev:.15,offset:124.5},{stevilo_nocitev:1500,cena_na_nocitev:.09,offset:205.5},{stevilo_nocitev:3360,cena_na_nocitev:.05,offset:289.5}],i=[{ima_lezisc_do:6,kapa:19},{ima_lezisc_do:25,kapa:36},{ima_lezisc_do:35,kapa:49},{ima_lezisc_do:50,kapa:59},{ima_lezisc_do:75,kapa:89},{ima_lezisc_do:140,kapa:119},{ima_lezisc_do:170,kapa:159},{ima_lezisc_do:210,kapa:199},{ima_lezisc_do:270,kapa:289},{ima_lezisc_do:271,kapa:349}],n=null,t=null,_=null;a>=e[0].stevilo_nocitev&&a<e[1].stevilo_nocitev?(n=e[0].offset,_=e[0].stevilo_nocitev,t=e[0].cena_na_nocitev):$.each(e,function(e,i){if(a>=i.stevilo_nocitev)n=i.offset,_=i.stevilo_nocitev,t=i.cena_na_nocitev;else if(a<=i.stevilo_nocitev)return t=i.cena_na_nocitev,!1});var c=n+(a-_)*t,v=i[i.length-1].kapa;return $.each(i,function(e,i){if(o<=i.ima_lezisc_do)return v=i.kapa,!1}),v<c?v:c}

				var $calculate = function(e){
						e.preventDefault();
						$.get('https://www.etrips.info/en/inf_izracun/' + $('#nights').val() + '/' +$('#beds').val(),
							function (data, textStatus, jqXHR) {// success callback
								$('#infoprice').text(data + '€');
								$('#price-result').addClass('highlighted');
								setTimeout(function(){
									$('#price-result').removeClass('highlighted');
								},500);
						});
				};

				$('.calculate').click($calculate);

				// Counter Input
				$(document).on('click','.plusBeds',function(){
					$('.countBeds').val(parseInt($('.countBeds').val()) + 1 );
					$calculate;
				});
				$(document).on('click','.minusBeds',function(){
					$('.countBeds').val(parseInt($('.countBeds').val()) - 1 );
					$calculate;

					if ($('.countBeds').val() == 0) {
						$('.countBeds').val(1);
					}
				});

				$(document).on('click','.plusNights',function(){
					$('.countNights').val(parseInt($('.countNights').val()) + 1 );
					$calculate;
				});
				$(document).on('click','.minusNights',function(){
					$('.countNights').val(parseInt($('.countNights').val()) - 1 );
					$calculate;

					if ($('.countNights').val() == 0) {
						$('.countNights').val(1);
					}
				});

				$('.countNights').keydown(function(e) {
					var code = e.keyCode || e.which;

					if (code === 9 && !e.shiftKey || code === 13) {
						e.preventDefault();
						$('#calculate').click();
					}
				});

				$('.countBeds').focusin(function() {$(this).closest('.counter').addClass('focused');});
				$('.countNights').focusin(function() {$(this).closest('.counter').addClass('focused');});
				$('.countBeds').focusout(function() {$(this).closest('.counter').removeClass('focused');});
				$('.countNights').focusout(function() {$(this).closest('.counter').removeClass('focused');});
			});
		</script>

	</body>
</html>