<!DOCTYPE html>
<html lang="en">
	<head>
		
		{{> common/include-meta}}
	
		{{> common/include-style}}
		
	</head>
	<body>
		
		{{> common/include-just-after-body-start}}

		<div id="header">{{> common/header}}</div>

		<div id="content" class="search">
			
			<div class="container-fluid hidden-xs">
				<div class="row breadcrumbs">
					<div class="col-md-12">
						<div class="container">

							<ol class="breadcrumb">
								<li><a href="{{set.root}}/index.html">Domov</a></li>
								<li class="active">Rezultati iskanja</li>
							</ol>

						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-3 aside">
						<div class="row">
							<div class="col-sm-6 col-md-12">
								
								{{> common/search-box-search}}
							
							</div>
							<div class="col-sm-6 col-md-12">
							
								{{> common/filter-box}}
							
							</div>
						</div>
					</div>
					<div class="col-md-9 main">
						<div class="section head">
							<h1><span>Piran</span> - na voljo 371 nastanitev</h1>
							{{!-- <p>Za prikaz cen, <a id="openCheckInDate">vnesite</a> iskalni termin.</p> --}}
							<p>za termin <b>23. 07. 2015</b> - <b>30. 07. 2015</b> za <b>2 odrasla</b> in <b>2 otroka</b> <a id="openCheckInDate">(spremeni)</a>.</p>
						</div>
						<div class="section sort">
							<ul class="clearfix">
								<li class="title">Razvrsti po:</li>
								<li class="active">Priporočilu</li>
								<li>Ceni</li>
								<li>Tipu nastanitve</li>
							</ul>
						</div>
						<div class="section results">

							{{> common/search-result-with-search-query}}
							{{> common/search-result-with-search-query}}
							{{> common/search-result-with-search-query}}

							{{> common/search-result-no-dates}}

						</div>
					</div>
				</div>
			</div>

		</div>
		
		<div id="footer">

			{{> common/usp}}

			{{> common/footer}}

		</div>

		{{> common/include-just-before-body-end}}

	</body>
</html>