<!DOCTYPE html>
<html lang="en">
	<head>
		
		{{> common/include-meta}}
	
		{{> common/include-style}}
		
	</head>
	<body>
		
		{{> common/include-just-after-body-start}}

		<div id="header">{{> common/header}}</div>

		<div id="content" class="default">
			
			<div class="container-fluid hidden-xs">
				<div class="row breadcrumbs">
					<div class="col-md-12">
						<div class="container">

							<ol class="breadcrumb">
								<li><a href="{{set.root}}/index.html">Domov</a></li>
								<li class="active">Splošni pogoji</li>
							</ol>

						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="specials">Splošni pogoji</h1>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<p>These terms and conditions, as may be amended from time to time, apply to all our services directly or indirectly (through distributors) made available online, through <b>any</b> mobile device, by email or by telephone. By accessing, browsing and using our website or any of our applications through whatever platform (hereafter collectively referred to as the "website") and/or by completing a reservation, you acknowledge and agree to have read, understood <b>and agreed</b> to the terms and conditions set out below (including the privacy statement).</p>
						<p>These pages, the content and infrastructure of these pages, and the online accommodation reservation service provided on these pages and through the website (the "service") are owned, operated and provided by Booking.com B.V. ("Booking.com", "us", "we" or "our") and are provided for your personal, non-commercial use only, subject to the terms and conditions set out below.</p>
						
						<h3>1. Scope of our Service</h3>
						<p>Through the website we (Booking.com B.V. and its affiliate (distribution) partners) provide an online platform through which all types of temporary accommodation (for example, hotels, motels, hostels and bed &amp; breakfasts, collectively the "accommodation(s)"), can advertise their rooms for reservation, and through which visitors to the website can make such reservations. By making a reservation through Booking.com, you enter into a direct (legally binding) contractual relationship with the accommodation provider at which you book. From the point at which you make your reservation, we act solely as an intermediary between you and the accommodation, transmitting the details of your reservation to the relevant accommodation provider and sending you a confirmation email for and on behalf of the accommodation provider.</p>
						<p>When rendering our services, the information that we disclose is based on the information provided to us by accommodation providers. As such, the accommodation providers are given access to an extranet through which they are fully responsible for updating all rates, availability and other information which is displayed on our website. Although we will use reasonable skill and care in performing our services we will not verify if, and cannot guarantee that, all information is accurate, complete or correct, nor can we be held responsible for any errors (including manifest and typographical errors), any interruptions (whether due to any (temporary and/or partial) breakdown, repair, upgrade or maintenance of our website or otherwise), inaccurate, misleading or untrue information or non-delivery of information. Each accommodation provider remains responsible at all times for the accuracy, completeness and correctness of the (descriptive) information (including the rates and availability) displayed on our website. Our website does not constitute and should not be regarded as a recommendation or endorsement of the quality, service level, qualification or (star) rating of any accommodation made available.</p>
						<p>Our services are made available for personal and non-commercial use only. Therefore, you are not allowed to re-sell, deep-link, use, copy, monitor (e.g. spider, scrape), display, download or reproduce any content or information, software, products or services available on our website for any commercial or competitive activity or purpose.</p>
						
						<h3>2. Prices and Best Price Guarantee</h3>
						<p>The prices on our site are highly competitive. All prices on the Booking.com website are per room for your entire stay and are displayed including VAT and all other taxes (subject to change of such taxes), unless stated differently on our website or the confirmation email.</p>
						<p>Sometimes cheaper rates are available on our website for a specific stay at an accommodation premises, however, these rates made by accommodations may carry special restrictions and conditions, for example in respect to cancellation and refund. Please check the room and rate details thoroughly for any such conditions prior to making your reservation.</p>
						<p>In the event of a crossed-out rate, we look at the prices currently being charged by the accommodation in the 30-day window around your proposed check-in date. From the prices within this window, we display the third-highest price on offer as the crossed-out rate. To ensure we are making a fair comparison, we always use the same reservation conditions (meal plan, cancellation policy and room type). This means that you get the same room for a lower price compared to other check-in dates at the same time of year.</p>
						<p>We want you to pay the lowest price possible for your stay. Should you find your accommodation, with the same reservation conditions, at a lower rate on the Internet after you have made a reservation through us, we will match the difference between our rate and the lower rate under the terms and conditions of the <a href="">Best Price Guarantee</a>.</p>
						<p>The currency converter is for information purposes only and should not be relied upon as accurate and real time; actual rates may vary.</p>
						<p>Obvious errors and mistakes (including misprints) are not binding.</p>
						<p>All special offers and promotions are marked as such.</p>
						
						<h3>3. Privacy and cookies</h3>
						<p>Booking.com respects your privacy. Please have a look at our <a href="">privacy and cookies policy</a> for further information.</p>
						
						<h3>4. Free of charge</h3>
						<p>Our service is free of charge because, unlike many other parties, we will not charge you for our service or add any additional (reservation) fees to the room rate.</p>
						
						<h3>5. Credit card or bank transfer</h3>
						<p>If applicable and available, certain accommodation providers offer the opportunity for reservations to  be paid (wholly or partly and as required under the payment policy of the accommodation) to the accommodation provider during the reservation process by means of secure online payment (all to the extent offered and supported by your bank). Payment is safely processed from your credit/debit card or bank account to the bank account of the accommodation provider through a third party payment processor.</p>
						<p>For certain (non-refundable) rates or special offers, please note that accommodation providers may require that payment is made upfront by wire transfer (if available) or by credit card, and therefore your credit card may be pre-authorised or charged (sometimes without any option for refund) upon making the reservation. Please check the room details thoroughly for any such conditions prior to making your reservation.</p>
						<p>In the event of credit card fraud or unauthorised use of your credit card by third parties, most banks and credit card companies bear the risk and cover all the charges resulting from such fraud or misuse, which may sometimes be subject to a deductible (usually set at EUR 50 (or the equivalent in your local currency)). In the event that your credit card company or bank charges the deductible from you because of unauthorised transactions resulting from a reservation made on our website, we will pay you this deductible, up to an aggregate amount of EUR 50 (or the equivalent in your local currency). In order to indemnify you, please make sure that you report this fraud to your credit card provider (in accordance with its reporting rules and procedures) and contact us immediately by email
						(customer.relations@booking.com). Please state 'credit card fraud' in the subject line of your email and provide us with evidence of the charged deductible (e.g. policy of the credit card company). This indemnification only applies to credit card reservations made using Booking.com's secure server and the unauthorised use of your credit card resulted through our default or negligence and through no fault of your own while using the secure server.</p>
						
						<h3>6. Cancellation</h3>
						<p>By making a reservation with an accommodation provider, you accept and agree to the relevant cancellation and no-show policy of that accommodation provider, and to any additional (delivery) terms and conditions of the accommodation provider that may apply to your reservation or during your stay, including for services rendered and/or products offered by the accommodation provider (the delivery terms and conditions of an accommodation provider can be obtained with the relevant accommodation provider). The general cancellation and no-show policy of each accommodation provider is made available on our website on the accommodation information pages, during the reservation procedure and in the confirmation email. Please note that certain rates or special offers are not eligible for cancellation or change. Please check the room details thoroughly for any such conditions prior to making your reservation. Please note that a reservation which requires down payment or (wholly or partly) prepayment may be cancelled (without a prior notice of default or warning) insofar the relevant (remaining) amount(s) cannot be collected in full on the relevant payment date in accordance with the relevant payment policy of the accommodation and the reservation. Late payment, wrong bank, debit or credit card details, invalid credit/debit cards or insufficient funds are for your own risk and account and you shall not be entitled to any refund of any (non-refundable) prepaid amount unless the accommodation agrees or allows otherwise under its (pre)payment and cancellation policy.</p>
						<p>If you wish to review, adjust or cancel your reservation, please revert to the confirmation email and follow the instructions therein. Please note that you may be charged for your cancellation in accordance with the accommodation provider's cancellation, (pre)payment and no-show policy or not be entitled to any repayment of any (pre)paid amount. We recommend that you read the cancellation, (pre)payment and no-show policy of the accommodation provider carefully prior to making your reservation and remember to make further payments on time as may be required for the relevant reservation.</p>
						
						<h3>7. Further correspondence</h3>
						<p>By completing a booking, you agree to receive (i) an email which we may send you shortly prior to your arrival date, giving you information on your destination and providing you with certain information and offers (including third party offers to the extent that you have actively opted in for this information) relevant to your reservation and destination, and (ii) an email which we may send to you promptly after your stay inviting you to complete our guest review form. Please see our privacy and cookies policy for more information about how we may contact you.</p>
						
						<h3>8. Ranking and guest reviews</h3>
						<p>The default setting of the ranking of accommodation on our website is 'Recommended' (or any similar wording) (the "Default Ranking"). For your convenience we also offer other ways to rank accommodation. Please note that the Default Ranking is created through a fully automatic ranking system (algorithm) and based on multiple criteria.</p>
						<p>The completed guest review may be (a) uploaded onto the relevant accommodation property's information page on our website for the sole purpose of informing (future) customers of your opinion of the service (level) and quality of the accommodation, and (b) (wholly or partly) used and placed by Booking.com at its sole discretion (e.g. for marketing, promotion or improvement of our service) on our website or such social media platforms, newsletters, special promotions, apps or other channels owned, hosted, used or controlled by Booking.com and our business partners. We reserve the right to adjust, refuse or remove reviews at our sole discretion. The guest review form should be regarded as a survey and does not include any (further commercial) offers, invitations or incentives whatsoever.</p>
						
						<h3>9. Disclaimer</h3>
						<p>Subject to the limitations set out in these terms and conditions and to the extent permitted by law, we shall only be liable for direct damages actually suffered, paid or incurred by you due to an attributable shortcoming of our obligations in respect to our services, up to an aggregate amount of the aggregate cost of your reservation as set out in the confirmation email (whether for one event or series of connected events).</p>
						<p>However and to the extent permitted by law, neither we nor any of our officers, directors, employees, representatives, subsidiaries, affiliated companies, distributors, affiliate (distribution) partners, licensees, agents or others involved in creating, sponsoring, promoting, or otherwise making available the site and its contents shall be liable for (i) any punitive, special, indirect or consequential loss or damages, any loss of production, loss of profit, loss of revenue, loss of contract, loss of or damage to goodwill or reputation, loss of claim, (ii) any inaccuracy relating to the (descriptive) information (including rates, availability and ratings) of the accommodation as made available on our website, (iii) the services rendered or the products offered by the accommodation provider or other business partners, (iv) any (direct, indirect, consequential or punitive) damages, losses or costs suffered, incurred or paid by you, pursuant to, arising out of or in connection with the use, inability to use or delay of our website, or (v) any (personal) injury, death, property damage, or other (direct, indirect, special, consequential or punitive) damages, losses or costs suffered, incurred or paid by you, whether due to (legal) acts, errors, breaches, (gross) negligence, willful misconduct, omissions, non-performance, misrepresentations, tort or strict liability by or (wholly or partly) attributable to the accommodation or any of our other business partners (including any of their employees, directors, officers, agents, representatives or affiliated companies) whose products or service are (directly or indirectly) made available, offered or promoted on or through the website, including any (partial) cancellation, overbooking, strike, force majeure or any other event beyond our control.</p>
						<p>Whether the accommodation you stay at charges you (or has charged you) for your room, or we are facilitating the payment of the room price, you agree and acknowledge that the accommodation is at all times responsible for the collection, withholding, remittance and payment of the applicable taxes due on the total amount of the room price to the relevant tax authorities. Booking.com is not liable or responsible for the remittance, collection, withholding or payment of the relevant taxes due on the room price to the relevant tax authorities.</p>
						<p>By uploading photos/images onto our system (for instance in addition to a review) you certify, warrant and agree that you own the copyright to the photos/images and that you agree that Booking.com may use the uploaded photos/images on its (mobile) website and app, and in (online/offline) promotional materials and publications and as Booking.com at its discretion sees fit. You are granting Booking.com a non-exclusive, worldwide, irrevocable, unconditional, perpetual right and license to use, reproduce, display, have reproduced, distribute, sublicense, communicate and make available the photos/images as Booking.com at its discretion sees fit. By uploading these photos/images the person uploading the picture(s) accepts full legal and moral responsibility of any and all legal claims that are made by any third parties (including, but not limited to, accommodation owners) due to Booking.com publishing and using these photos/images. Booking.com does not own or endorse the photos/images that are uploaded. The truthfulness, validity and right to use of all photos/images is assumed by the person who uploaded the photo, and is not the responsibility of Booking.com. Booking.com disclaims all responsibility and liability for the pictures posted. The person who uploaded the photo warrants that the photos/images shall not contain any viruses, Trojan horses or infected files and shall not contain any pornographic, illegal, obscene, insulting, objectionable or inappropriate material and does not infringe any third party (intellectual property right, copyright or privacy) rights. Any photo/image that does not meet the aforesaid criteria will not be posted and/or can be removed/deleted by Booking.com at any time and without prior notice.</p>
						
						<h3>10. Intellectual property rights</h3>
						<p>Unless stated otherwise, the software required for our services or available at or used by our website and the intellectual property rights (including the copyrights) of the contents and information of and material on our website are owned by Booking.com B.V., its suppliers or providers.</p>
						<p>Booking.com exclusively retains ownership of all rights, title and interest in and to (all intellectual property rights of) (the look and feel (including infrastructure) of) the website on which the service is made available (including the guest reviews and translated content) and you are not entitled to copy, scrape, (hyper-/deep)link to, publish, promote, market, integrate, utilize, combine or otherwise use the content (including any translations thereof and the guest reviews) or our brand without our express written permission. To the extent that you would (wholly or partly) use or combine our (translated) content (including guest reviews) or would otherwise own any intellectual property rights in the website or any (translated) content or guest reviews, you hereby assign, transfer and set over all such intellectual property rights to Booking.com.  Any unlawful use or any of the aforementioned actions or behaviour will constitute a material infringement of our intellectual property rights (including copyright and database right).</p>
						
						<h3>11. Miscellaneous</h3>
						<p>To the extent permitted by law, these terms and conditions and the provision of our services shall be governed by and construed in accordance with Dutch law and any dispute arising out of these general terms and conditions and our services shall exclusively be submitted to the competent courts in Amsterdam, the Netherlands.</p>
						<p>The original English version of these terms and conditions may have been translated into other languages. The translated version is a courtesy and office translation only and you cannot derive any rights from the translated version. In the event of a dispute about the contents or interpretation of these terms and conditions or inconsistency or discrepancy between the English version and any other language version of these terms and conditions, the English language version to the extent permitted by law shall apply, prevail and be conclusive. The English version is available on our website (by selecting the English language) or shall be sent to you upon your written request.</p>
						<p>If any provision of these terms and conditions is or becomes invalid, unenforceable or non-binding, you shall remain bound by all other provisions hereof. In such event, such invalid provision shall nonetheless be enforced to the fullest extent permitted by applicable law, and you will at least agree to accept a similar effect as the invalid, unenforceable or non-binding provision, given the contents and purpose of these terms and conditions.</p>
						
						<h3>12. About Booking.com and the support companies</h3>
						<p>The online accommodation reservation service is rendered by Booking.com B.V., which is a private limited liability company, incorporated under the laws of the Netherlands and having its offices at Herengracht 597, 1017 CE Amsterdam, the Netherlands and registered with the trade register of the Chamber of Commerce in Amsterdam under registration number 31047344. Our VAT registration number is NL805734958B01.</p>
						<p>Booking.com has its headquarters in Amsterdam, the Netherlands and is supported by various affiliated group companies (the "support companies") throughout the world. The support companies only provide an internal supporting role to and for the benefit of Booking.com. Certain designated support companies render limited customer care support services (only by telephone). The support companies do not have any website (and do not in any way control, manage, maintain or host the website). The support companies do not have any power or authority to render the service, to represent Booking.com or to enter into any contract in the name of, for or on behalf of Booking.com. You do not have a (legal or contractual) relationship with the support companies. The support companies do not operate and are not authorised to act as any form of process or service agent of Booking.com. Booking.com does not accept nor assume any domicile at any place, location or office in the world (also not at the office of its support companies), other than its registered office in Amsterdam.</p>

					</div>
				</div>
			</div>

		</div>
		
		<div id="footer">

			{{> common/usp}}

			{{> common/footer}}

		</div>

		{{> common/include-just-before-body-end}}

	</body>
</html>