@import "common/common.less"; // import common files

#content.accommodation {
	.head {
		margin-bottom: 10px;

		h1 {
			color: @blue;
			font-weight: 600;
			margin: 0;
			margin-bottom: 5px;

			.category {
				color: @yellow;
				font-size: 12px;
				top: -15px;
				left: -5px;
			}

			@media (max-width: @screen-xs-max) {
				text-align: center;
			}
		}

		.details {
			font-size: 12px;
			font-weight: 200;
			color: @blue;
			line-height: 18px;

			a {
				color: @yellow;
			}

			.show-on-map {
				white-space: pre;
			}

			@media (max-width: @screen-xs-max) {
				text-align: center;
			}
		}

		.cta {
			text-align: right;
			text-decoration: none;

			.price {
				span {
					font-size: 42px;
					line-height: 1;
				}
			}

			&:hover,
			&:focus {
				color: @blue;
			}
		}
	}

	.description {
		font-size: 12px;
		font-weight: 200;
		color: @gray5;
		text-align: justify;
		
		@media (max-width: @screen-sm-max) {
			margin-top: 20px;
		}

		@media (max-width: @screen-sm-max) {max-height: 231px;}
		@media (min-width: @screen-sm-min) {max-height: 129px;}
		@media (min-width: @screen-md-min) {max-height: 486px;}
		@media (min-width: @screen-lg-min) {max-height: 486px;}

		overflow: hidden;

		.show-more {
			#gradient > .vertical(@start-color: rgba(238,238,238,.75); @end-color: rgba(238,238,238,1));
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 40px;
			padding-top: 13px;
			color: @blue;
			cursor: pointer;

			-webkit-transition: max-height .5s;
			-moz-transition: max-height .5s;
			transition: max-height .5s;
		}

		&.open {
			max-height: 1000px;
			overflow: initial;


			.show-more {
				display: none;
			}
		}
	}

	.gallery {
		background-color: #d9d9d9;
		border-radius: 3px;

		@media (max-width: @screen-sm-max) {height: 250px;}
		@media (min-width: @screen-sm-min) {height: 478px;}
		@media (min-width: @screen-md-min) {height: 478px;}
		@media (min-width: @screen-lg-min) {height: 478px;}
		
		#accommodation-carousel {
			.carousel-inner {
				.item {
					border-radius: 3px;
					overflow: hidden;
					@media (max-width: @screen-sm-max) {height: 250px;}
					@media (min-width: @screen-sm-min) {height: 478px;}
					@media (min-width: @screen-md-min) {height: 478px;}
					@media (min-width: @screen-lg-min) {height: 478px;}
					
					.flex {
						@media (max-width: @screen-sm-max) {height: 250px;}
						@media (min-width: @screen-sm-min) {height: 478px;}
						@media (min-width: @screen-md-min) {height: 478px;}
						@media (min-width: @screen-lg-min) {height: 478px;}
					}
				}
			}

			.carousel-control {
				background: initial;
			}

			.carousel-indicators {
				position: initial;
				left: initial;
				top: initial;
				bottom: initial;
				z-index: initial;
				width: initial;
				margin: initial;
				padding: initial;
				border: initial;
				margin-top: 10px;

				li {
					position: relative;
					width: 50px;
					height: 50px;
					display: block;
					border-radius: 0;
					float: left;
					margin: initial;

					img {
						width: 100%;
						height: 100%;
						opacity: .5;
					}

					&.active {
						img {
							opacity: 1;
						}
					}
				}
			}

			.tags {
				position: absolute;
				top: 0;
				left: 0;
				padding: 15px 15px;

				@media (max-width: @screen-xs-max) {
					width: 100%;
					text-align: center;
				}

				.label.label-default {
					background-color: rgba(0, 79, 158, 0.9);
					color: @white;
					font-weight: 200;
					padding: 7px 10px;
					display: inline-block;
					margin-bottom: 5px;
					font-size: 12px;
				}
			}
		}
	}

	h2 {
		font-size: 24px;
		margin: 0;
		color: @blue;
		font-weight: 600;
		
		@media (max-width: @screen-xs-max) {
			text-align: center;
		}
	}

	.query-details {
		font-size: 14px;
		font-weight: 600;
		color: @blue;
		line-height: 18px;
		margin-bottom: 10px;
		margin-top: 10px;

		i.fa.fa-user {
			margin-left: 5px;
		}

		a {
			color: @yellow;
			font-weight: 400;
			cursor: pointer;
		}

		@media (max-width: @screen-xs-max) {
			text-align: center;
		}
	}

	.search-box {
		height: initial;
		margin-bottom: 20px;

		.large-sb-inner {
			bottom: initial;
			top: 0;
			max-width: initial;
			width: 100%;
			border-radius: 3px;
			background-color: @blue;
			padding: 10px;

			.large-sb-wrap {
				display: initial;

				.large-sb-wrap-inner {
					form {
						.form-group {
							margin: 0;

							.form-control {
								&#check-in,
								&#check-out,
								&#persons {
									float: left;
									margin-right: 10px;
									margin-bottom: 0;
									border-radius: 3px;
								}

								&#persons {
									margin-bottom: 0;
									position: relative;

									@media (max-width: @screen-xs-max) {
										margin-bottom: 10px;
									}
								}
								

								@media (max-width: @screen-xs-max) {
									&#check-in,
									&#check-out {
										width: 97%;
										float: left;
										margin: 0;
										margin-bottom: 10px;
									}

									&#check-out {
										float: right;
									}
								}
							}

							#persons-dropdown {
								// left: 317px;
								top: 33px;

								@media (max-width: @screen-xs-max) {
									left: 0;
									top: 54px;
								}
							}

							.btn {
								padding: 5px 18px 4px 18px;
								font-size: 14px;
								float: initial;
							}
						}
						
						.checkbox {
							margin: 0;
						}
					}
				}
			}
		}
	}

	.price-table {
		margin-top: 40px;

		.facilities {
			margin-top: 10px;

			.facility {
				border: 1px solid #d9d9d9;
				background-color: @white;
				margin-bottom: 10px;
				border-radius: 3px;


				.expand-description {
					cursor: pointer;
				}

				> .glance {
					background-color: #f7f7f7;
					padding: 15px;
					
					&.has-query {
						border-bottom: 1px solid #d9d9d9;
					}

					.open,
					.data {
						float: left;
						color: @blue;
					}

					.open {
						color: @blue;
						font-size: 24px;
					}

					.data {
						margin-left: 15px;
						
						@media (max-width: @screen-xs-max) {
							margin-left: initial;
							text-align: center;
							width: 100%;
						}

						.facility-name {
							font-size: 18px;
							font-weight: 600;
							
							span {
								font-size: 12px;
							}
						}

						.details {
							font-weight: 600;

							i.fa.fa-user {
								margin-left: 5px;
							}
						}
					}

					.tags {
						text-align: right;

						@media (max-width: @screen-xs-max) {
							margin-top: 5px;
							display: inline-block;
							text-align: center;
							width: 100%;
						}

						@media (min-width: @screen-md-min) {
							margin-top: 10px;
						}

						.label.label-default {
							background-color: #fff;
							border: 1px solid #d9d9d9;
							color: @gray5;
							font-weight: 200;
							padding: 7px 10px;
							display: inline-block;
							font-size: 12px;
							margin-left: 5px;

							@media (max-width: @screen-sm-max) {
								margin-left: initial;
								margin-top: 5px;
							}
						}
					}

					.cta {
						margin: 16px;
						float: right;
					}

					&.no-dates {
						.cta {
							margin: 7px 0;
						}
					}

					&:hover {
						cursor: pointer;

						.open {
							i.fa.fa-plus-circle {
								color: @yellow;
							}
						}

						.data {
							.facility-name {
								span {
									color: @yellow;
								}
							}
						}
					}
				}


				> .details {
					display: flex;
					display: -webkit-flex;
					display: -moz-flex;

					@media (max-width: @screen-xs-max) {
						flex-direction: column;
						-webkit-flex-direction: column; /* Safari 6.1+ */
					}

					.facility-gallery {
						min-width: 238px;

						.image {
							margin: 15px;
							background-color: #d9d9d9;
							border-radius: 3px;
							overflow: hidden;

							@media (max-width: @screen-xs-max) {height: 250px;}
							@media (min-width: @screen-sm-min) {height: 140px; width: 208px;}
							@media (min-width: @screen-md-min) {height: 140px; width: 208px;}
							@media (min-width: @screen-lg-min) {height: 170px; width: 260px;}
							
							.carousel-inner {
								.item {
									border-radius: 3px;
									overflow: hidden;
									@media (max-width: @screen-xs-max) {height: 250px;}
									@media (min-width: @screen-sm-min) {height: 140px; width: 208px;}
									@media (min-width: @screen-md-min) {height: 140px; width: 208px;}
									@media (min-width: @screen-lg-min) {height: 170px; width: 260px;}
									
									.flex {
										@media (max-width: @screen-xs-max) {height: 250px;}
										@media (min-width: @screen-sm-min) {height: 140px; width: 208px;}
										@media (min-width: @screen-md-min) {height: 140px; width: 208px;}
										@media (min-width: @screen-lg-min) {height: 170px; width: 260px;}
									}
								}
							}

							.carousel-control {
								background: initial;

								.glyphicon {
									font-size: 22px;
									margin-top: -12px;
								}
							}
						}
					}

					.in-price {
						border-right: 1px solid #d9d9d9;
						padding: 15px 15px 15px 0;
						// max-width: 300px;

						@media (max-width: @screen-xs-max) {
							padding: 15px;
							border: none;
							text-align: center;
							max-width: initial;
						}

						.included,
						.not-included {
							color: @blue;
							font-size: 12px;
							margin-bottom: 10px;

							@media (max-width: @screen-xs-max) {
								text-align: center;
							}
							
							.title {
								font-weight: bold;
							}
						}
					}

					.offer {
						border-right: 1px solid #d9d9d9;
						padding: 15px 15px 15px 15px;
						color: @blue;
						font-size: 12px;

						@media (max-width: @screen-xs-max) {
							padding: 0 15px;
						}
						
						ul {
							padding-left: 15px;

							@media (max-width: @screen-xs-max) {
								text-align: center;
								list-style: none;
							}
						}
					}

					.price {
						color: @blue;
						text-align: center;
						border-right: 1px solid #d9d9d9;
						padding: 10px 0 15px 0;
						min-width: 100px;

						@media (max-width: @screen-xs-max) {
							padding-bottom: 0;
						}

						.number {
							font-weight: 600;
							font-size: 24px
						}
						
						.txt {
							font-size: 12px
						}
					}

					.book {
						padding: 15px;
						margin-left: auto;
						min-width: 132px;
						
						@media (max-width: @screen-xs-max) {
							margin-left: initial;
						}

						.btn {
							@media (max-width: @screen-xs-max) {
								width: 100%;
							}
						}
					}
				}

				> .facility-description {
					background-color: #f7f7f7;
					font-size: 12px;
					font-weight: 200;
					color: @gray5;
					padding-left: 15px;
					padding-right: 15px;

					@media (max-width: @screen-xs-max) {
						text-align: center;
					}

					max-height: 0;
					overflow: hidden;
				}
				
				&.opened {
					> .facility-description {
						max-height: 5000px;
						overflow: inherit;
						padding: 15px;
						border-top: 1px solid #d9d9d9;
					}

					> .glance {
						&:hover {
							cursor: pointer;
						}
						
						.open {
							color: @yellow;
							-ms-transform: rotate(45deg);
							-webkit-transform: rotate(45deg);
							transform: rotate(45deg);
						}

						.data {
							.facility-name {
								span {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
	
	.amenities,
	.policies,
	.facility-details, {
		margin-top: 40px;

		ul {
			padding: 0;
			margin: 0;
			margin-top: 5px;
			border: 1px solid #dadada;
			font-weight: 200;
			color: @gray5;
			border-radius: 3px;
			
			@media (min-width: @screen-sm-min) {
				display: table;
				width: 100%;
			}

			li {
				list-style: none;
				background-color: #f7f7f7;

				@media (max-width: @screen-xs-max) {padding: 15px;}
				
				@media (min-width: @screen-sm-min) {
					display: table-row;

					> span.title,
					> span.content {
						display: table-cell;
						padding: 15px;
					}
				}

				@media (max-width: @screen-xs-max) {
					text-align: center;
				}

				&:nth-child(even) {
					background-color: @white;
				}

				.title {
					font-weight: 600;
					min-width: 25%;
					
					@media (max-width: @screen-sm-max) {min-width: 33%;}
					@media (max-width: @screen-xs-max) {min-width: 100%;display: inline-block;}
				}

				.content {
					width: 75%;

					@media (max-width: @screen-sm-max) {min-width: 66%;}
					@media (max-width: @screen-xs-max) {min-width: 100%;}
				}
			}
		}
	}
	
	.back-to-search-results {
		@media (max-width: @screen-xs-max) {
			text-align: center;
		}

		a {
			font-size: 12px;
			margin-top: 5px;
			display: inline-block;

			i {
				margin-right: 3px;
			}
		}
	}

	.map {
		margin-top: 40px;

		.google-map {
			border: 1px solid #dadada;
			border-radius: 3px;
		}

		.details {
			font-size: 12px;
			font-weight: 200;
			color: @blue;
			line-height: 18px;
			margin-bottom: 10px;
			margin-top: 5px;

			@media (max-width: @screen-xs-max) {
				text-align: center;
			}
		}
	}
}