@import "common/common.less"; // import common files

#content.booking {
	.progress {
		table {
			width: 100%;
			margin-bottom: 15px;

			td {
				text-align: center;
				font-size: 12px;
				color: @blue;
				font-weight: 600;
				width: 33%;

				&.later-on {
					color: #999;
					font-weight: initial;
				}

				&.progress-line {
					background-repeat: no-repeat;
					background-position: center center;
					
					&.done {
						background-image: url('/img/progress-line-done.png');
						
						@media all and (-webkit-min-device-pixel-ratio: 1.5) {
							background-image: url('/img/progress-line-done@2x.png');
							background-size: 400px 4px;
						}
					}
					&.active {
						background-image: url('/img/progress-line-active.png');
						
						@media all and (-webkit-min-device-pixel-ratio: 1.5) {
							background-image: url('/img/progress-line-active@2x.png');
							background-size: 400px 4px;
						}
					}
					&.later-on {
						background-image: url('/img/progress-line-later-on.png');
						
						@media all and (-webkit-min-device-pixel-ratio: 1.5) {
							background-image: url('/img/progress-line-later-on@2x.png');
							background-size: 400px 4px;
						}
					}
				}
			}
		}
	}

	@media (max-width: @screen-xs-max) {
		.turn-around {
			&.pull-right {float: initial !important;}
			&.pull-left {float: initial !important;}
		}
	}

	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
		.turn-around {
			&.pull-right {padding-left: 2.5px;}
			&.pull-left {padding-right: 2.5px;}
		}
	}

	form {
		.form-control:focus {
			border-color: @yellow;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(253, 184, 19, 0.6);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(253, 184, 19, 0.6);
		}

		.personal-data,
		.payment-data {
			border: 1px solid #dadada;
			background-color: #f7f7f7;
			border-radius: 3px;
			margin-bottom: 5px;
			padding: 15px 15px 5px 15px;
			font-size: 12px;

			.form-group {

				label {
					font-weight: initial;
				}

				.form-control {
					border-radius: 3px;

					&#credid-card-valid-month,
					&#credid-card-valid-year {
						float: left;
						margin-right: 10px;
						width: initial;
					}

					&#cvc-number {
						width: 45px;
						float: left;
					}
					
				}

				@media (min-width: @screen-md-min) {
					margin-bottom: 5px;

					select {
						&#title,
						&#country,
						&#payment-type,
						&#credid-card-valid-month,
						&#credid-card-valid-year {
							&.place_holder{
								color: #999999;
							}

							option{
								color: #000000;
							}
						}
					}
					
					label {
						line-height: 30px;
					}

					.form-control {
						width: 260px;

						&#title,
						&#post,
						&#country,
						&#payment-type,
						&#credid-card-valid-month,
						&#credid-card-valid-year,
						&#cvc-number {
							width: initial;
						}

						&#cvc-number {
							width: 45px;
							float: left;
						}
					}
				}

				
				i {
					&.fa-question-circle {
						float: left;
						color: @gray5;
						font-size: 14px;
						line-height: 30px;
						margin-left: 5px;
					}
				}
			}
		}

		.book {
			font-size: 12px;
			text-align: right;
			color: @gray5;

			@media (max-width: @screen-xs-max) {
				text-align: center;

				.btn {
					width: 100%;
				}
			}

			.terms {
				margin-top: 10px;
				margin-bottom: 10px;

				p {
					margin-bottom: 0;

					a {
						color: @gray5;
						text-decoration: underline;
					}
				}
			}
		}

	}
	
	.cart {
		border: 1px solid #dadada;
		background-color: #f7f7f7;
		border-radius: 3px;
		margin-bottom: 5px;
		font-size: 12px;
		color: @gray5;

		.accommodation,
		.dates,
		.facility,
		.price {
			padding: 10px 15px 10px 15px;
		}

		.accommodation,
		.facility {
			background-color: @white;
			border-top: 1px solid #dadada;
			border-bottom: 1px solid #dadada;
		}
		
		.image {
			.flex {
				max-height: 200px;
			}
		}

		.accommodation {
			color: @blue;

			.accommodation-name {
				font-size: 18px;
				font-weight: 600;

				.category {
					color: @yellow;
					font-size: 12px;
				}
			}
		}

		.price {
			line-height: 34px;

			.number {
				font-size: 24px;
				color: @blue;
				font-weight: 600;
			}
		}
	}

	.best-price {
		font-size: 12px;
		text-align: right;
		color: @gray5;
		margin-top: 5px;
		margin-bottom: 20px;
		font-style: italic;
		opacity: .5,
	}

	.success {
		border: 1px solid #dadada;
		background-color: #f7f7f7;
		border-radius: 3px;
		margin-bottom: 5px;
		font-size: 12px;
		color: @blue;
		text-align: center;
		padding: 75px;
		padding-top: 50px;
		@media (max-width: @screen-xs-max) {padding: 50px;}

		i {
			color: @yellow;
			font-size: 240px;
			line-height: 1;
			@media (max-width: @screen-xs-max) {font-size: 1000%;}
		}

		.booked {
			font-size: 36px;
			@media (max-width: @screen-xs-max) {font-size: 200%;}
		}

		.confirm {
			font-size: 18px;
			@media (max-width: @screen-xs-max) {font-size: 125%;}
		}
	}
}