@import "common/common.less"; // import common files

#content.index {
	.search-box {
		@media (min-width: @screen-sm-min) {
			height: 0;
		}
	}
	.container-carousel {
		#index-carousel {
			position: relative;

			.carousel-inner {
				.item {
					@media (min-width: @screen-sm-min) {height: 420px;}
					@media (min-width: @screen-md-min) {height: 535px;}
					
					.flex {
						@media (min-width: @screen-sm-min) {height: 420px;}
						@media (min-width: @screen-md-min) {height: 535px;}
					}
				}
			}

			.carousel-control:hover,
			.carousel-control:focus {
				&.left {#gradient > .horizontal(@start-color: rgba(0,0,0,.3333); @end-color: rgba(0,0,0,.0001));}
				&.right {#gradient > .horizontal(@start-color: rgba(0,0,0,.0001); @end-color: rgba(0,0,0,.3333));}
			}

		}
	}

	.promotion {
		margin-top: 20px;

		.offer {
			height: 150px;
			width: 100%;
			background-color: #e5e5e5;
			border: 1px solid #dddddd;
			margin-bottom: 20px;
			position: relative;

			&.lg {
				height: 320px;
			}

			.circle {
				width: 300px;
				height: 300px;
				background-color: rgba(253, 184, 19, 0.9);
				position: absolute;
				bottom: -190px;
				right: -50px;
				border-radius: 100%;

				-webkit-transition: all .25s;
				-moz-transition: all .25s;
				transition: all .25s;
			}
			
			.content {
				bottom: 0;
				right: 0;
				position: absolute;
				padding: 20px;
				color: @blue;
				font-size: 12px;
				font-weight: 600;
				text-align: right;

				-webkit-transition: all .25s;
				-moz-transition: all .25s;
				transition: all .25s;

				.price {
					font-size: 18px;

					.number {
						font-size: 24px;
						font-weight: 600;
						-webkit-transition: color .25s;
						-moz-transition: color .25s;
						transition: color .25s;
					}
				}
			}

			&:hover {
				.circle {
					background-color: rgba(255, 255, 255, 0.9);
					cursor: pointer;
					bottom: -170px;
					right: -35px;

					-webkit-transition: all .25s;
					-moz-transition: all .25s;
					transition: all .25s;
				}

				.content {
					padding: 25px;

					.price {
						.number {
							color: @yellow;
							-webkit-transition: color .25s;
							-moz-transition: color .25s;
							transition: color .25s;
						}
					}
					-webkit-transition: all .25s;
					-moz-transition: all .25s;
					transition: all .25s;
				}
			}
		}
	}
}