@import "common/common.less"; // import common files

.animate-opacity(@sec: .1s) {
	-webkit-transition: opacity @sec ease-in-out;
	-moz-transition: 	opacity @sec ease-in-out;
	-o-transition: 		opacity @sec ease-in-out;
	transition: 		opacity @sec ease-in-out;
}

body.initial {
	background-color: #ffffff;
}

#header.pridruzise {
	.header {
		margin-bottom: initial;
	}
}

#content.pridruzise {
	.mood {
		background: @blue;
		background-image: url('../img/mood-pridruzise-ponudnik.jpg');
		background-position: center center;
		background-size: cover;
		height: 350px;
		margin-bottom: 20px;

		.overlay {
			background: rgba(0,0,0,.25);
			left: 0;
			right: 0;
			position: absolute;
			width: 100%;
			height: 350px;
		}
		
		.holder {
			display: table;
			width: 100%;

			.head {
				text-align: center;
				text-shadow: 1px 2px 3px rgba(0,0,0,.5);
				display: table-cell;
				width: 100%;
				height: 350px;
				vertical-align: middle;

				h1,p.h2 {
					color: @white;
					margin: 0;
				}

				h1 {
					line-height: 1.25;
					margin-bottom: 10px;
				}

				p.h2 {
					font-size: 24px;
				}
			}
		}
	}

	h2 {
		font-size: 36px;
		color: @blue;
	}

	p {
		font-size: 14px;
		color: @gray5;
	}

	.why {
		padding-left: 50px;

		li {
			list-style: none;

			i.fa {
				margin-left: -50px;
				color: @yellow;
				font-size: 40px;
				position: absolute;
				margin-top: -8px;
			}

			h3 {
				font-size: 24px;
				color: @blue;
				margin-bottom: 5px;
			}

			p {
				border-bottom: 1px solid #eee;
				padding-bottom: 15px;
			}

			&:last-child {
				p {
					border-bottom: 0;
					padding-bottom: inherit;
				}
			}
		}
	}

	form {
		background-color: #f7f7f7;
		border: 1px solid #d9d9d9;
		border-radius: 5px;
		margin-top: 20px;

		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			margin-left: 50px;
		}

		.form-control:focus {
			border-color: @yellow;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(253, 184, 19, 0.6);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(253, 184, 19, 0.6);
		}

		.personal-data {
			padding: 15px 15px 5px 15px;
			font-size: 14px;

			.form-group {
				margin-bottom: 10px;

				.title {
					color: @blue;
					font-weight: bold;
					font-size: 18px;
					margin-bottom: 5px;
				}

				label {
					font-weight: initial;
				}

				// @media (min-width: @screen-md-min) {
					// margin-bottom: 5px;

					select {
						&#title,
						&#country,
						&#payment-type,
						&#credid-card-valid-month,
						&#credid-card-valid-year {
							&.place_holder{
								color: #999999;
							}

							option{
								color: #000000;
							}
						}
					}
					
					label {
						line-height: 30px;
						color: @blue;

						sup {
							color: @yellow;
						}
					}

					textarea {
						resize: none;
						height: 55px !important;

						@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
							height: 75px !important;
						}
					}

					.form-control {
						font-size: 14px;
						height: 40px;

						&#title,
						&#post,
						&#country,
						&#payment-type,
						&#credid-card-valid-month,
						&#credid-card-valid-year,
						&#cvc-number {
							width: initial;
						}

						&#cvc-number {
							width: 45px;
							float: left;
						}
					}
				// }

				
				i {
					&.fa-question-circle {
						float: left;
						color: @gray5;
						font-size: 14px;
						line-height: 30px;
						margin-left: 5px;
					}
				}
			}
		}

		.terms {
			margin-bottom: 20px;

			p {
				margin-bottom: 0;
				font-size: 12px;

				a {
					color: @gray5;
					text-decoration: underline;
				}
			}
		}

		.cta {
			margin-bottom: 20px;

			.btn {
				width: 100%;
				padding: 10px;
				font-size: 14px;
			}
		}

		.success {
			text-align: center;
			padding: 50px;

			i.fa {
				color: @yellow;
				font-size: 100px;
			}

			.title {
				font-size: 24px;
				color: @blue;
				margin-bottom: 5px;
			}

			p {
				color: @gray5;
			}

			img {
				margin-top: 10px;
				display: inline-block;
			}
		}
	}
	
	.testimonial {
		margin: 50px 0;
		background: #f7f7f7;
	    padding: 50px 0;
	    border-top: 1px solid #d9d9d9;
	    border-bottom: 1px solid #d9d9d9;

		> .row {
			margin-left: initial;
			margin-right: initial;
		}

		#testimonial-carousel {
			position: relative;

			.carousel-inner {
				@media (max-width: @screen-xs-max) {height: 250px;}
				@media (min-width: @screen-sm-min) {height: 130px;}
				@media (min-width: @screen-lg-min) {height: 120px;}

				.item {
					@media (min-width: @screen-sm-min) {
						opacity: 0;
						display: block !important;
						position: absolute;
						width: 100%;
						top: 0;
					}

					@media (min-width: @screen-sm-min) {height: 130px;}
					@media (min-width: @screen-lg-min) {height: 120px;}

					.animate-opacity(.5s);

					&.active {
						opacity: 1;

						.animate-opacity(.5s);
					}
				}
			}
			

			.carousel-caption {
				position: inherit;
				left: 0;
				right: 0;
				padding: 0;
				text-shadow: none;
				text-align: left;
				bottom: 0;
				margin: 0;

				color: @blue;
				@media (max-width: @screen-sm-max) {text-align: center;}

				p {
					font-weight: 200;
					text-align: center;
					padding: 0 10%;
					color: @blue;
					margin: 0 0 20px 0;
					
					font-size: 1.75em;

					@media (min-width: @screen-sm-min) {font-size: 2em;}
					@media (min-width: @screen-lg-min) {font-size: 2.5em;}
				}
			}

			.carousel-indicators {
				position: relative;
				left: inherit;
				width: inherit;
				margin: 0;
				list-style: inherit;
				text-align: inherit;
				display: flex;
				bottom: inherit;
				padding: 0;
				height: 75px;
				overflow: hidden;

				li {
					flex-grow: 1;
					width: inherit !important;
					height: inherit !important;
					border: 0 !important;
					border-radius: 0 !Important;
					margin: 0 !Important;
					padding: 0 !important;
					text-indent: inherit !important;
					justify-content: center;
					align-items: center;
					opacity: .5;
					display: flex;

					background-color: #f7f7f7;

					@media (min-width: @screen-sm-min) {display: inherit !important;}

					.animate-opacity(.5s);

					img {
						width: 75px !important;
						height: 75px !important;
						border-radius: 100%;
						border: 1px solid #ddd;
						margin-right: 10px;
					}

					
					&.active {
						opacity: 1;

						.animate-opacity(.5s);
					}
				}
			}
			
			.txt {
				@media (max-width: @screen-xs-max) {margin-bottom: 20px;}

				.name {color: #555;}

				.from {
					color: #999;
					font-weight: 200;
				}
			}
		}
	}


	.how {
		> .row {
			position: relative;
		}

		.line {
			width: 100%;
			height: 10px;
			background-color: @yellow;
			position: absolute;
			left: 0;
			top: 73px;
			
			&.endless {
				width: 50%;
				top: 74px;

				@media (max-width: @screen-sm-max) {
					width: 100%
				}
			}
		}

		h2 {
			font-size: 24px;
			margin-bottom: 20px;
		}

		.step {
			background-color: @yellow;
			width: 25px;
			font-weight: bold;
			color: #fff;
			height: 25px;
			text-align: center;
			border-radius: 100%;
			padding: 3px;
		}

		.result {
			float: right;
			background-color: #ffffff;
			margin-top: -33px;
			padding: 3px 10px;
			margin-right: -10px;
			font-weight: bold;
			color: #fdb813;
			font-size: 24px;

			.money {
				padding: 0 10px; 
			}
		}

		h3 {
			font-size: 18px;
			color: @yellow;
			font-weight: bold;
			margin-top: 15px;
			margin-bottom: 5px;
			line-height: 24px;
    		
    		@media (min-width: @screen-lg-min) {
    			max-width: 88%;
			}
		}

		p {
			font-size: 11px;
			line-height: 17px;
		}
	}
}