@import "common/common.less"; // import common files

#content.search {
	.search-box {
		margin-bottom: 20px;

		.large-sb-inner {
			bottom: initial;
			top: 0;
			max-width: initial;
			width: 100%;
			border-radius: 3px;
			background-color: @blue;
			padding: 15px;

			.large-sb-wrap {
				display: initial;

				.large-sb-wrap-inner {
					form {
						.form-group {
							float: initial;
							width: 100%;

							.form-control {
								&#check-in,
								&#check-out,
								&#persons {
									width: 100%;
									float: left;
									margin-right: 10px;
									margin-bottom: 10px;
									border-radius: 3px;
								}

								&#persons {
									margin-bottom: 0;
									position: relative;
								}
								

								@media (max-width: @screen-xs-max) {
									&#check-in,
									&#check-out {
										width: 97%;
										float: left;
										margin: 0;
										margin-bottom: 10px;
									}

									&#check-out {
										float: right;
									}
								}
							}

							#persons-dropdown {
								left: 0;
								top: 33px;

								@media (max-width: @screen-xs-max) {
									left: 0;
									top: 52px;
								}
							}

							.holderco {
								width: 100%;
								float: initial;

								@media (max-width: @screen-xs-max) {
									width: 50%;
									float: left;
								}

								@media (min-width: @screen-sm-min) {
									margin-right: 0 !important;
								}
							}

							.btn {
								padding: 8px 18px;
								font-size: 14px;
							}
						}
						
						.checkbox {
							margin-top: 5px;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}

	.filter-box {
		width: 100%;
		background-color: @gray;
		border-radius: 3px;
		margin-bottom: 20px;
		color: @gray;
		font-size: 12px;

		border: 1px solid #d9d9d9;
		
		.title {
			background-color: #e9ebec;
			text-transform: uppercase;
			padding: 15px;
			font-weight: 800;
			font-size: 14px;
		}

		.type {
			background-color: @white;
			
			.type-title {
				background-color: #f7f7f8;
				border-top: 1px solid #d9d9d9;
				border-bottom: 1px solid #d9d9d9;
				padding: 10px 15px 8px 18px;
				font-weight: 600;
				font-size: 12px;
				cursor: pointer;

				i.fa {
					margin-right: 6px;
					-moz-transition: all .2s ease;
					-webkit-transition: all .2s ease;
					-o-transition: all .2s ease;
					transition: all .2s ease;
				}

				&:hover {
					background-color: @white;
				}
			}

			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				padding-top: 7px;
				padding-bottom: 7px;

				-moz-transition: all .2s ease;
				-webkit-transition: all .2s ease;
				-o-transition: all .2s ease;
				transition: all .2s ease;

				li {
					&.checkbox {
						padding: 3px 15px;
						margin: 0;

						&:hover {
							background-color: #d9d9d9;
						}

						&.range {
							padding-top: 15px;

							span {
								text-align: center;
								width: 100%;
								display: inline-block;
							}
						}

						label {
							width: 100%;
							line-height: 20px;

							span {
								opacity: .5;
							}
						}
					}
				}
			}

			&.collapsed {
				.type-title {
					border-bottom: none;

					i.fa {
						margin-right: 6px;

						-ms-transform: rotate(-90deg);
						-webkit-transform: rotate(-90deg);
						transform: rotate(-90deg);
						-moz-transition: all .2s ease;
						-webkit-transition: all .2s ease;
						-o-transition: all .2s ease;
						transition: all .2s ease;
					}
				}

				ul {
					height: 0;
					overflow: hidden;
					padding: 0;
					-moz-transition: all .2s ease;
					-webkit-transition: all .2s ease;
					-o-transition: all .2s ease;
					transition: all .2s ease;
				}
			}
		}
	}

	.section {
		&.head {
			h1 {
				margin-top: 0;
				color: @blue;
				font-weight: 200;

				span {
					font-weight: 400;
				}
			}

			p {
				color: @blue;

				a {
					color: @yellow;
					cursor: pointer;
				}
			}
		}

		&.sort {
			margin-bottom: 15px;
			background-color: #f7f7f8;
			border: 1px solid #d9d9d9;
			border-radius: 3px;
			font-size: 12px;
			font-weight: 200;
			color: @gray5;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					float: left;
					background-color: #f7f7f8;
					padding: 5px 10px;
					border-right: 1px solid #d9d9d9;
					cursor: pointer;


					&.title {
						cursor: default;
						border-radius: 3px 0 0 3px;

						&:hover {
							background-color: #f7f7f8;
						}
					}

					&:last-child {
						border: none;

						&:active,
						&:hover {
							border-right: 1px solid #d9d9d9;
						}
					}

					&:hover {
						background-color: #e9ebec;
					}
					
					&.active {
						background-color: @white;
						font-weight: 900;
						cursor: default;

						&:hover {
							background-color: @white;
						}
					}
				}
			}
		}
		
		&.results {
			.result {
				background-color: @white;
				border: 1px solid #d9d9d9;
				border-radius: 3px;
				padding: 15px;
				margin-bottom: 10px;

				.image {
					background-color: #d9d9d9;
					border-radius: 3px;
					overflow: hidden;

					@media (min-width: @screen-sm-min) {height: 140px;}
					@media (min-width: @screen-md-min) {height: 140px;}
					@media (min-width: @screen-lg-min) {height: 170px;}
					
					.carousel-inner {
						.item {
							border-radius: 3px;
							overflow: hidden;
							@media (min-width: @screen-sm-min) {height: 140px;}
							@media (min-width: @screen-md-min) {height: 140px;}
							@media (min-width: @screen-lg-min) {height: 170px;}
							
							.flex {
								@media (min-width: @screen-sm-min) {height: 140px;}
								@media (min-width: @screen-md-min) {height: 140px;}
								@media (min-width: @screen-lg-min) {height: 170px;}
							}
						}
					}

					.carousel-control {
						background: initial;

						.glyphicon {
							font-size: 22px;
							margin-top: -12px;
						}
					}
				}

				.tags {
					text-align: right;
					margin-top: 10px;

					.label.label-default {
						background-color: #fff;
						border: 1px solid #d9d9d9;
						color: @gray5;
						font-weight: 200;
						padding: 7px 10px;
						display: inline-block;
						margin-bottom: 5px;
						font-size: 12px;
					}
				}

				.content {
					.cta {
						float: right;
						text-align: right;
						text-decoration: none;

						.price {
							span {
								font-size: 47px;
								line-height: 1;
							}
						}

						&:hover,
						&:focus {
							color: @blue;
						}

						@media (max-width: @screen-xs-max) {
							width: 100%;
							text-align: center;
							
							.btn {
								width: 100%;
							}
						}
					}

					h2 {
						margin: 0;
						color: @blue;
						font-size: 22px;
						font-weight: 600;
						margin-bottom: 5px;

						a:hover {
							color: @blue;
						}

						@media (max-width: @screen-xs-max) {
							text-align: center;
						}
					}

					.category {
						color: @yellow;
						font-size: 12px;
					}

					.details,
					.persons {
						font-size: 12px;
						font-weight: 200;
						color: @blue;
						line-height: 18px;

						a {
							color: @yellow;
						}

						.show-on-map {
							white-space: pre;
						}

						@media (max-width: @screen-xs-max) {
							text-align: center;
						}
					}

					.description {
						font-size: 12px;
						font-weight: 200;
						color: @gray5;
						border-top: 1px solid #d9d9d9;
						padding-top: 10px;
						margin-top: 10px;
						position: relative;

						p {
							background-color: @white;
						}
						
						@media (min-width: @screen-md-min) {max-height: 148px;}
						@media (min-width: @screen-lg-min) {max-height: 130px;}
						overflow: hidden;

						.show-more {
							#gradient > .vertical(@start-color: rgba(255,255,255,.75); @end-color: rgba(255,255,255,1));
							position: absolute;
							bottom: 0;
							width: 100%;
							height: 40px;
							padding-top: 13px;
							color: @blue;
							cursor: pointer;

							-webkit-transition: max-height .5s;
							-moz-transition: max-height .5s;
							transition: max-height .5s;
						}

						&.open {
							max-height: 500px;
							overflow: initial;

							-webkit-transition: max-height .5s;
							-moz-transition: max-height .5s;
							transition: max-height .5s;

							.show-more {
								display: none;
							}
						}
					}
				}

				.facilities {
					border-top: 1px solid #d9d9d9;

					.facility {
						background-color: #f9f9f9;
						font-size: 12px;
						font-weight: 200;
						color: @gray5;
						padding-top: 5px;
						padding-bottom: 5px;
						display: block;

						.arrow {
							float: right;
							font-size: 22px;
							margin-left: 10px;
							width: 0;
							overflow: hidden;

							-moz-transition: width .2s ease;
							-webkit-transition: width .5s ease;
							-o-transition: width .5s ease;
							transition: width .5s ease;
						}

						.cta {
							float: right;
							text-align: right;
							text-decoration: none;
							color: @gray5;

							.btn {
								margin-left: 20px;
							}

							.price {
								font-weight: bold;
							}

							button {
								background-color: #a9a9a9;
								color: @white;
							}
						}

						.persons,
						.facility-name {
							font-weight: bold;

							i.fa.fa-user {
								margin-left: 3px;
							}
						}

						@media (max-width: @screen-xs-max) {
							.bedbath {
								display: inline-block;
							}
						}

						&:nth-child(even) {
							background-color: @white;
						}

						&:hover {
							color: @blue;
							cursor: pointer;
							text-decoration: none;

							.arrow {
								width: 20px;
								// overflow: initial;

								-moz-transition: width .2s ease;
								-webkit-transition: width .2s ease;
								-o-transition: width .2s ease;
								transition: width .2s ease;
							}

							.cta {
								color: @blue;

								button {
									background-color: @blue;
								}
							}
						}
					}
				}
			}
		}
	}
}