@import "common/common.less"; // import common files
@import "common/usp.less"; // import common files
@import "common/search-box.less"; // import common files

@import "index.less"; // import common files
@import "search.less"; // import common files
@import "accommodation.less"; // import common files
@import "booking.less"; // import common files
@import "pridruzise.less"; // import common files

#content.default {
	font-size: 12px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: @blue;
	}

	h1 {
		margin-top: 0;
	}
}