<div class="facility expand-description">
	<div class="glance clearfix has-query">
		<div class="open hidden-xs">
			<i class="fa fa-plus-circle"></i>
		</div>
		<div class="data">
			<div class="facility-name">
				Facility name <span>Več informacij</span>
			</div>
			<div class="details">
				<b>2</b> <i class="fa fa-user"></i> + <b>2</b> <i class="fa fa-user"></i> • 17m<sup>2</sup> • 2 spalnici, 1 kopalnica
			</div>
		</div>
		<div class="tags">
			<span class="label label-default">Parkirišče</span>
			<span class="label label-default">Wifi</span>
			<span class="label label-default">Bazen</span>
			<span class="label label-default">TV</span>
			<span class="label label-default">Klima</span>
			<span class="label label-default">Hišne živali</span>
		</div>
		{{!-- <div class="cta">
			<button class="btn yellow">Prikaži cene <i class="fa fa-arrow-right"></i></button>
		</div> --}}
	</div>
	<div class="details">
		<div class="facility-gallery">
			<div class="carousel">
				<div class="image">
					<div id="search-carousel-1525" class="carousel slide" data-ride="carousel" data-interval="false">
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<div class="flex">
									<img src="http://s-ec.vcomstatic.com/images/hotel/max500/177/17746957.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://t-ec.vcomstatic.com/images/hotel/max500/177/17746965.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://t-ec.vcomstatic.com/images/hotel/840x460/223/22339120.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://s-ec.vcomstatic.com/images/hotel/max500/177/17746961.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://t-ec.vcomstatic.com/images/hotel/840x460/353/35362090.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://s-ec.vcomstatic.com/images/hotel/840x460/354/35435472.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://s-ec.vcomstatic.com/images/hotel/max500/177/17746968.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://s-ec.vcomstatic.com/images/hotel/840x460/353/35368730.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://s-ec.vcomstatic.com/images/hotel/840x460/353/35369222.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://s-ec.vcomstatic.com/images/hotel/840x460/354/35435418.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://s-ec.vcomstatic.com/images/hotel/840x460/353/35361743.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://t-ec.vcomstatic.com/images/hotel/840x460/353/35366447.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://s-ec.vcomstatic.com/images/hotel/840x460/279/27930701.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://s-ec.vcomstatic.com/images/hotel/840x460/353/35361874.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://s-ec.vcomstatic.com/images/hotel/max500/177/17746951.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://s-ec.vcomstatic.com/images/hotel/840x460/353/35364093.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://t-ec.vcomstatic.com/images/hotel/840x460/353/35329524.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://t-ec.vcomstatic.com/images/hotel/840x460/353/35329597.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://t-ec.vcomstatic.com/images/hotel/840x460/353/35367776.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://s-ec.vcomstatic.com/images/hotel/840x460/353/35361980.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://t-ec.vcomstatic.com/images/hotel/840x460/354/35435462.jpg" class="img-responsive flex-center">
								</div>
							</div>
							<div class="item">
								<div class="flex">
									<img src="http://t-ec.vcomstatic.com/images/hotel/840x460/353/35369561.jpg" class="img-responsive flex-center">
								</div>
							</div>
						</div>
						<a class="left carousel-control" href="#search-carousel-1525" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Nazaj</span>
						</a>
						<a class="right carousel-control" href="#search-carousel-1525" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Naprej</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="in-price">
			<div class="included">
				<div class="title">Vključeno v ceno:</div>
				<div class="content">klimatska naprava, WiFi, končno čiščenje, posteljnina</div>
			</div>
			<div class="not-included">
				<div class="title">Za doplačilo:</div>
				<div class="content">turistična taksa 1,27€ na osebo na dan, domača žival 3€ na dan</div>
			</div>
		</div>

		<div class="offer">
			<ul>
				<li><b>BREZPLAČNA ODPOVED</b> do 02. 09. 2015</li>
				<li><b>PLAČATE KASNEJE</b></li>
				<li>Vključen zajtrk</li>
			</ul>
		</div>

		<div class="price">
			<div class="number">848€</div>
			<div class="txt">Cena za <b>7</b> noči</div>
		</div>

		<div class="book">
			<a href="{{set.root}}/booking.html" class="btn yellow">Rezerviraj <i class="fa fa-arrow-right"></i></a>
		</div>

	</div>
	<div class="facility-description">
		<b>About room</b>
		<p>Elegantly decorated room with hardwood floors with rugs and curtains offering a private balcony with a view. An LCD cable TV and air conditioning are available. The private bathroom features a shower and free toiletries as well as a bathrobe and slippers.</p>

		<b>Room facilities</b>
		<p>Balcony,TV, Telephone, Cable Channels, Flat-screen TV, Safety Deposit Box, Air Conditioning, Desk, Ironing Facilities, Fan, Heating, Tile/Marble floor, Hypoallergenic, Hairdryer, Bathrobe, Free toiletries, Toilet, Bathroom, Slippers, Bath or Shower, Bidet, Minibar, Wake-up service
		Free WiFi is available in all rooms.</p>

		<b>Parkirišče brezplačno</b> <br><br>

		<b>Hišni ljubljenčki</b> dovoljeni z doplačilom 3€ na dan <br><br>

		<b>Lorem</b> <br>
		Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.
	</div>
</div>