<div class="filter-box">
	<div class="title">Uporabi filter</div>
	<div class="type">
		<div class="type-title">
			<i class="fa fa-caret-down"></i> Vrsta objekta
		</div>
		<ul>
			<li class="checkbox">
				<label>
					<input type="checkbox">Hotel <span>(35)</span>
				</label>
			</li>
			<li class="checkbox">
				<label>
					<input type="checkbox">Hostel <span>(15)</span>
				</label>
			</li>
			<li class="checkbox">
				<label>
					<input type="checkbox">Apartma <span>(3)</span>
				</label>
			</li>
			<li class="checkbox">
				<label>
					<input type="checkbox">Počitniška hiša <span>(70)</span>
				</label>
			</li>
			<li class="checkbox">
				<label>
					<input type="checkbox">Gostišče <span>(22)</span>
				</label>
			</li>
		</ul>
	</div>
	<div class="type">
		<div class="type-title">
			<i class="fa fa-caret-down"></i> Število spalnic
		</div>
		<ul>
			<li class="checkbox">
				<label>
					<input type="checkbox">1+ <span>(22)</span>
				</label>
			</li>
			<li class="checkbox">
				<label>
					<input type="checkbox">2+ <span>(15)</span>
				</label>
			</li>
		</ul>
	</div>
	<div class="type collapsed">
		<div class="type-title">
			<i class="fa fa-caret-down"></i> Število kopalnic
		</div>
		<ul>
			<li class="checkbox">
				<label>
					<input type="checkbox">1+ <span>(22)</span>
				</label>
			</li>
			<li class="checkbox">
				<label>
					<input type="checkbox">2+ <span>(15)</span>
				</label>
			</li>
		</ul>
	</div>
	<div class="type collapsed">
		<div class="type-title">
			<i class="fa fa-caret-down"></i> Kategorija
		</div>
		<ul>
			<li class="checkbox">
				<label>
					<input type="checkbox">1+ <span>(22)</span>
				</label>
			</li>
			<li class="checkbox">
				<label>
					<input type="checkbox">2+ <span>(15)</span>
				</label>
			</li>
		</ul>
	</div>
	<div class="type collapsed">
		<div class="type-title">
			<i class="fa fa-caret-down"></i> Oprema namestitve
		</div>
		<ul>
			<li class="checkbox">
				<label>
					<input type="checkbox">1+ <span>(22)</span>
				</label>
			</li>
			<li class="checkbox">
				<label>
					<input type="checkbox">2+ <span>(15)</span>
				</label>
			</li>
		</ul>
	</div>
	<div class="type">
		<div class="type-title">
			<i class="fa fa-caret-down"></i> Ponudba v objektu
		</div>
		<ul>
			<li class="checkbox">
				<label>
					<input type="checkbox">Brezplačno parkirišče <span>(1)</span>
				</label>
			</li>
			<li class="checkbox">
				<label>
					<input type="checkbox">Plačljivo parkirišče <span>(3)</span>
				</label>
			</li>
			<li class="checkbox">
				<label>
					<input type="checkbox">Balkon <span>(10)</span>
				</label>
			</li>
			<li class="checkbox">
				<label>
					<input type="checkbox">Vrt <span>(4)</span>
				</label>
			</li>
		</ul>
	</div>
	<div class="type">
		<div class="type-title">
			<i class="fa fa-caret-down"></i> Cenovni razpon
		</div>
		<ul>
			<li class="checkbox range">
				<label>
					<div class="row">
						<div class="col-xs-6">
							<input type="range" id="myRange" value="90">
							<span>od 50€</span>
						</div>
						<div class="col-xs-6">
							<input type="range" id="myRange" value="90">
							<span>do 1000€</span>
						</div>
					</div>
				</label>
			</li>
		</ul>
	</div>
	<div class="type collapsed">
		<div class="type-title">
			<i class="fa fa-caret-down"></i> Prehrana
		</div>
		<ul>
			<li class="checkbox">
				<label>
					<input type="checkbox">1+ <span>(22)</span>
				</label>
			</li>
			<li class="checkbox">
				<label>
					<input type="checkbox">2+ <span>(15)</span>
				</label>
			</li>
		</ul>
	</div>
	<div class="type collapsed">
		<div class="type-title">
			<i class="fa fa-caret-down"></i> Primerno za...
		</div>
		<ul>
			<li class="checkbox">
				<label>
					<input type="checkbox">1+ <span>(22)</span>
				</label>
			</li>
			<li class="checkbox">
				<label>
					<input type="checkbox">2+ <span>(15)</span>
				</label>
			</li>
		</ul>
	</div>
</div>