<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 d-flex align-items-center d-sm-block flex-column">
				<a href="{{set.root}}/index.html" class="logo mb-3 mb-sm-0 mt-2 mt-sm-0">
					<img src="{{set.root}}img/etrips-logo-bright.png" alt="eTrips logo" class="img-responsive">
				</a>

				<div class="contact">
					Etrips d.o.o.<br> 
					Mala ulica 8, 1000 Ljubljana<br>
					Slovenija<br><br>
					<a class="text-white text-decoration-none" href="mailto:info@etrips.info">info@etrips.info</a><br>
					<a class="text-white text-decoration-none" href="tel:0038615372340">+386 1 434 26 69</a><br>
				</div>
			</div>
			<div class="col-md-9 col-sm-9 d-none d-sm-block">
				<div class="row">
					<div class="col-6">
						<ul>
							<b>Informacije</b>
							<li><a href="http://www.etrips.info/sl/etrips">O Etrips d.o.o.</a></li>
							<li><a href="http://www.etrips.info/sl/faq">Pogosta vprašanja naših gostov (FAQ)</a></li>
							<li><a href="http://www.etrips.info/sl/terms">Pravila in pogoji uporabe</a></li>
							<li><a href="http://www.etrips.info/sl/notice">Pravno obvestilo</a></li>
						</ul>
					</div>
					<div class="col-6">
						<ul>
							<b>Za partnerje</b>
							<li><a href="http://www.etrips.info/sl/partners">Zakaj se splača biti Etrips partner</a></li>
							<br/>
							<b>Dodajte namestitev</b>
							<li><a href="http://www.etrips.info/sl/pridruzi-se">Pridružite se Etripsu</a></li>
							
						</ul>
					</div>
					{{!-- <div class="col-md-3 col-sm-4">
						<ul>
							<b>Lorem Ipsum</b>
							<li><a href="{{set.root}}/pridruzise.html">Dodajte svojo namestitev</a></li>
							<li><a href="">Postanite tržnik</a></li>
							<li><a href="">Ponudite storitev</a></li>
							<li><a href="">Lorem Ipsum</a></li>
							<li><a href="">Dolor sit Amet</a></li>
						</ul>
					</div> --}}
					{{!-- <div class="col-md-3 hidden-sm">
						<ul>
							<b>Povežite se</b>
							<li><a href="">Facebook</a></li>
							<li><a href="">Twitter</a></li>
							<li><a href="">Google+</a></li>
							<li><a href="">YouTube</a></li>
							<li><a href="">Blog</a></li>
						</ul>
					</div> --}}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				Etrips d.o.o. | Davčna št.: 31974619 | Matična št.: 6917224000<br>
				Copyright © Etrips d.o.o., vse pravice so pridržane | 2019
			</div>
		</div>
	</div>
</div>