<div class="header">
	<nav class="navbar navbar-default navbar-static-top pl-0 pr-0">
		<div class="container">
			<div class="navbar-header">
				{{!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button> --}}
				<a class="navbar-brand logo" href="{{set.root}}/index.html">
					<img src="{{set.root}}img/etrips-logo.png" alt="eTrips logo" class="img-responsive">
				</a>
			</div>
			{{!-- <div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Prijava v eTrips Manager</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{{set.root}}img/flag-sl.png" class="flag">Slovensko <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><img src="{{set.root}}img/flag-en.png" class="flag"> English</a></li>
							<li><a href="#"><img src="{{set.root}}img/flag-de.png" class="flag"> Deutsch</a></li>
							<li><a href="#"><img src="{{set.root}}img/flag-at.png" class="flag"> Deutsch</a></li>
							<li><a href="#"><img src="{{set.root}}img/flag-it.png" class="flag"> Italiano</a></li>
							<li><a href="#"><img src="{{set.root}}img/flag-fr.png" class="flag"> Francais</a></li>
							<li><a href="#"><img src="{{set.root}}img/flag-hr.png" class="flag"> Hrvatski</a></li>
							<li><a href="#"><img src="{{set.root}}img/flag-sl.png" class="flag"> Slovensko</a></li>
							<li><a href="#"><img src="{{set.root}}img/flag-pl.png" class="flag"> Polski</a></li>
							<li><a href="#"><img src="{{set.root}}img/flag-cz.png" class="flag"> Czech</a></li>
						</ul>
					</li>
				</ul>
			</div> --}}
		</div>
	</nav>
</div>

