<div class="header">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand logo" href="{{set.root}}/index.html">
					<img src="{{set.root}}img/etrips-logo.png" alt="eTrips logo" class="img-responsive">
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Nazadnje ogledano <span class="caret"></span></a>
						<ul class="dropdown-menu last-seen" role="menu">
							<li>
								<a href="{{set.root}}/accommodation.html" class="clearfix">
									<div class="data">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/354/35435399.jpg" alt="">
										<span class="name">Accommodation name <sup class="category"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty "></i></sup></span>
										<span class="price">že od <b>199€</b></span>
									</div>
								</a>
							</li>
							<li>
								<a href="{{set.root}}/accommodation.html" class="clearfix">
									<div class="data">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/354/35435399.jpg" alt="">
										<span class="name">Accommodation name <sup class="category"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty "></i></sup></span>
										<span class="price">že od <b>199€</b></span>
									</div>
								</a>
							</li>
							<li>
								<a href="{{set.root}}/accommodation.html" class="clearfix">
									<div class="data">
										<img src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/354/35435399.jpg" alt="">
										<span class="name">Accommodation name <sup class="category"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty "></i></sup></span>
										<span class="price">že od <b>199€</b></span>
									</div>
								</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">EUR <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">EUR Evro</a></li>
							<li><a href="#">GBP Britanski funt</a></li>
							<li><a href="#">USD Ameriški dolar</a></li>
							<li><a href="#">HRK Hrvaška kuna</a></li>
							<li><a href="#">CZK Češka krona</a></li>
							<li><a href="#">HUF Madžarski forint</a></li>
							<li><a href="#">PLN Poljski zlot</a></li>
							<li><a href="#">CHF Švicarski frank</a></li>
							<li><a href="#">SEK Švedska krona</a></li>
							<li><a href="#">NOK Norveška krona</a></li>
							<li><a href="#">RUB Ruski rubelj</a></li>
							<li><a href="#">DKK Danska krona</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{{set.root}}img/flag-sl.png" class="flag">Slovensko <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><img src="{{set.root}}img/flag-en.png" class="flag"> English</a></li>
							<li><a href="#"><img src="{{set.root}}img/flag-de.png" class="flag"> Deutsch</a></li>
							<li><a href="#"><img src="{{set.root}}img/flag-at.png" class="flag"> Deutsch</a></li>
							<li><a href="#"><img src="{{set.root}}img/flag-it.png" class="flag"> Italiano</a></li>
							<li><a href="#"><img src="{{set.root}}img/flag-fr.png" class="flag"> Francais</a></li>
							<li><a href="#"><img src="{{set.root}}img/flag-hr.png" class="flag"> Hrvatski</a></li>
							{{!-- <li><a href="#"><img src="{{set.root}}img/flag-sl.png" class="flag"> Slovensko</a></li> --}}
							<li><a href="#"><img src="{{set.root}}img/flag-pl.png" class="flag"> Polski</a></li>
							<li><a href="#"><img src="{{set.root}}img/flag-cz.png" class="flag"> Czech</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>

