{{!-- Bootstrap core JavaScript --}}
{{!-- ================================================== --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{{!-- <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script> --}}
<script src="{{set.root}}js/bootstrap.min.js"></script>


{{!-- IE10 viewport hack for Surface/desktop Windows 8 bug --}}
{{!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> --}}

{{!-- Include production ready plug-ins if any... --}}
{{!-- // <script src="js/plugins.js"></script> --}}

{{!-- Include main js - dynamic due to file name --}}
{{!-- {{> common/include-js}} --}}
<script src="{{set.root}}js/common/plugins.js"></script>
{{!-- <script src="{{set.root}}js/common/common.js"></script> --}}

{{!-- Include bootstrap datepicker --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/bootstrap-datepicker.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.ar.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.az.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.bg.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.bs.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.ca.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.cs.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.cy.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.da.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.el.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.en-GB.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.et.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.eu.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.fa.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.fi.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.fo.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.fr-CH.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.gl.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.he.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.hr.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.hu.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.hy.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.id.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.is.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.it-CH.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.ja.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.ka.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.kh.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.kk.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.kr.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.lt.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.lv.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.me.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.mk.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.ms.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.nb.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.nl-BE.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.nl.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.no.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.pl.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.pt.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.ro.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.rs-latin.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.rs.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.sk.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.sl.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.sq.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.sr-latin.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.sr.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.sv.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.sw.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.th.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script> --}}
{{!-- <script src="{{set.root}}js/common/bootstrap-datepicker/locales/bootstrap-datepicker.zh-TW.min.js" charset="UTF-8"></script> --}}

{{!-- <script src="{{set.root}}js/{{main.pageName}}.js"></script> --}}

{{!-- {{> common/google-analytics}} --}}

{{!-- DEVELOPMENT ONLY --}}
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.6.0/holder.min.js"></script> --}}