<!--[if lt IE 9]>
<div class="container"><div class="col-md-12"><p class="browserupgrade" style="background-color:#fdb813;position:fixed;bottom:0;z-index:999;padding:10px;">Vaš brskalnik je <strong>zastarel</strong>. Izgleda, da uporabljate staro različico Internet Explorer. Za najboljpšo izkušnjo na spletu, prosimo, <a  onMouseOver="this.style.color='#004f9e'" onMouseOut="this.style.color='#004f9e'" href="http://browsehappy.com/?locale=sl">posodobite vaš brskalnik</a>.</div></div>
<![endif]-->

<meta name="referrer" content="strict-origin" />
{{!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous"> --}}
<link rel="stylesheet" href="css/all.css">