<div id="persons-dropdown" class="hide">
	<div class="form-group form-group form-group-sm">
		<div class="row">
			<div class="col-xs-12">
				<div class="title text-center">Število oseb</div>
			</div>
			<div class="col-xs-6 text-center">
				<div class="person-row" id="adults">
					<div><label for="adults" class="type">Odrasli</label></div>
					<select name="age" class="b-children-ages-configurator__element b-children-ages-configurator__element_selector"><option value="0" selected="">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option></select>
				</div>
			</div>
			<div class="col-xs-6 text-center">
				<div class="person-row" id="children">
					<div><label for="children" class="type">Otroci</label></div>
					<select name="age" class="b-children-ages-configurator__element b-children-ages-configurator__element_selector"><option value="0" selected="">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option></select>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="text-center hide" id="ages"></div>
			</div>
		</div>
	</div>
</div>