<div class="search-box">
	<div class="large-sb-inner text-in-box">
		<div class="large-sb-wrap">
			<div class="large-sb-wrap-inner">
				<h1>Spoznajte raznolikost slovenskih domov</h1>
				<h2>Izberite eno od številnih nastanitev v apartmaju, turistični sobi, počitniški hiši, penzionu, gostišču, turistični kmetiji, hotelu ...</h2>

				<form action="" class="clearfix">
					<div class="form-group form-group form-group-sm fst-query">
						<input type="text" class="form-control" id="query" placeholder="Vnesite npr. mesto, kraj, regijo, ...">
					</div>
					<div class="form-group form-group form-group-sm">
						<div class="input-daterange input-group" id="datepicker">
							<div class="holderco"><input type="text" class="input-sm form-control" id="check-in" placeholder="Datum prihoda" name="start" readonly="true"/></div>
							<div class="holderco"><input type="text" class="input-sm form-control" id="check-out" placeholder="Datum odhoda" name="end" readonly="true"/></div>
						</div>
					</div>
					<div class="form-group form-group form-group-sm">
						<input type="text" id="persons" class="form-control" placeholder="Število oseb">
						{{> common/persons-dropdown}}
					</div>
					<div class="form-group form-group form-group-sm fst-cta">
						<a href="{{set.root}}/search.html" type="submit" class="btn yellow">Išči <i class="fa fa-arrow-right"></i></a>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox">Nimam točnega termina, sem prilagodljiv.
						</label>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>