<div class="result with-search-query">
	<div class="row">
		<div class="col-xs-4 hidden-xs">
			<div class="image">
				<div id="search-carousel-1525" class="carousel slide" data-ride="carousel" data-interval="false">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/354/35435399.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35362423.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max500/353/35367044.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max500/353/35370398.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max500/353/35329753.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/352/35295243.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35362515.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max500/354/35435237.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/354/35435525.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35370184.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/231/23199268.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/223/22339563.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max500/354/35435052.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35369561.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max500/354/35435462.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max500/353/35361980.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max500/353/35367776.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35329597.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max500/353/35329524.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35364093.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35361874.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/279/27930701.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/231/23199308.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35366447.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35361743.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max500/354/35435418.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max500/279/27930603.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/177/17728199.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35369222.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/353/35368730.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/354/35435472.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/353/35362090.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/177/17728213.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/223/22339095.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/223/22339120.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/177/17728165.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://s-ec.vcomstatic.com/images/hotel/max1024x768/177/17728206.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/177/17746965.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max500/177/17728205.jpg" class="flex-center">
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<img alt="" src="http://t-ec.vcomstatic.com/images/hotel/max1024x768/177/17746957.jpg" class="flex-center">
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#search-carousel-1525" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Nazaj</span>
					</a>
					<a class="right carousel-control" href="#search-carousel-1525" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Naprej</span>
					</a>
				</div>
			</div>
			<div class="tags">
				<span class="label label-default">Parkirišče</span>
				<span class="label label-default">Wifi</span>
				<span class="label label-default">Bazen</span>
				<span class="label label-default">TV</span>
				<span class="label label-default">Klima</span>
				<span class="label label-default">Hišne živali</span>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="content">
				<div class="row">
					<div class="col-lg-7">
						<h2><a href="{{set.root}}/accommodation.html">Accommodation name</a> <sup class="category"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty "></i></sup></h2>
						<div class="details">
							Apartma • Sončno nabrežje 34 • <a href="" class="show-on-map">Prikaži na zamljevidu</a>
						</div>
						<div class="persons">
							do <b>8</b> oseb
						</div>													
					</div>
					<div class="col-lg-5 hidden-xs">
						<a class="cta" href="{{set.root}}/accommodation.html">
							<div class="price">že od <span>199€</span></div>
							<div class="persons">na dan za <b>2 odrasla</b> in <b>2 otroka</b></div>
						</a>
					</div>
				</div>
				
				<div class="description">
					<p>Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
					<div class="show-more">
						<i class="fa fa-caret-down"></i> Pokaži več
					</div>
				</div>
			</div>
			<div class="facilities">
				<a class="facility clearfix" href="{{set.root}}/accommodation.html?offerID">
					<div class="arrow">
						<i class="fa fa-arrow-right"></i>
					</div>
					<div class="cta">
						<div class="price">1.339€</div>
						<div class="more-info">Več informacij</div>
					</div>
					<span class="persons">4 <i class="fa fa-user"></i></span> • <span class="facility-name">Facility name</span> 
					<div class="details">(2 spalnici, 1 kopalnica)</div>
				</a>
				<a class="facility clearfix" href="{{set.root}}/accommodation.html?offerID">
					<div class="arrow">
						<i class="fa fa-arrow-right"></i>
					</div>
					<div class="cta">
						<div class="price">1.339€</div>
						<div class="more-info">Več informacij</div>
					</div>
					<span class="persons">4 <i class="fa fa-user"></i></span> • <span class="facility-name">Facility name</span> 
					<div class="details">(2 spalnici, 1 kopalnica)</div>
				</a>
				<a class="facility clearfix" href="{{set.root}}/accommodation.html?offerID">
					<div class="arrow">
						<i class="fa fa-arrow-right"></i>
					</div>
					<div class="cta">
						<div class="price">1.339€</div>
						<div class="more-info">Več informacij</div>
					</div>
					<span class="persons">4 <i class="fa fa-user"></i></span> • <span class="facility-name">Facility name</span> 
					<div class="details">(2 spalnici, 1 kopalnica)</div>
				</a>
				<a class="facility clearfix" href="{{set.root}}/accommodation.html?offerID">
					<div class="arrow">
						<i class="fa fa-arrow-right"></i>
					</div>
					<div class="cta">
						<div class="price">1.339€</div>
						<div class="more-info">Več informacij</div>
					</div>
					<span class="persons">4 <i class="fa fa-user"></i></span> • <span class="facility-name">Facility name</span> 
					<div class="details">(2 spalnici, 1 kopalnica)</div>
				</a>
			</div>
		</div>
	</div>
</div>