<div class="container-fluid usp">
	<div class="row">
		<div class="col-md-12">
			<div class="container no-padding">
				<div class="usp-content">
					<div class="row">
						<div class="col-md-3 col-sm-4 col-xs-6">
							<i class="fa fa-check-circle"></i>
							<h3>Takojšnja rezervacija</h3>
							<p>Vse rezervacije so potrjene takoj, oz. najkasneje v 24ih urah.</p>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6">
							<i class="fa fa-check-circle"></i>
							<h3>Najboljša cena</h3>
							<p>Cene v sistemu eTrips so konkurenčne, če najdete ugodnejšo, razliko povrnemo!</p>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6">
							<i class="fa fa-check-circle"></i>
							<h3>Brez presenečenj</h3>
							<p>Vse namestitve vodijo lokalni strokovnjaki, zato je profesionalen odnos zagotovljen.</p>
						</div>
						<div class="col-md-3 hidden-sm col-xs-6">
							<i class="fa fa-check-circle"></i>
							<h3>Zaupanja vredno</h3>
							<p>Uporabniki so sistemu etrips od leta 2007 zaupali že 850.000 nočitev.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>