@breadcrumb-padding-vertical	: 15px;
@breadcrumb-padding-horizontal	: 0;
@breadcrumb-active-color		: #333333;

.row.breadcrumbs {
	background: initial;
	margin-bottom: 20px;

	.breadcrumb {
		background: initial;
		margin-bottom: 0;
		font-size: 12px;
		border-bottom: 1px solid #dcdcdc;
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 0;
		font-weight: 200;

		> .active {
			color: @gray5;
		}
	}
}