/*----------------------------------------------------------------------------
Importing Bootstrap..

Main bootstrap file is loaded below,
should not be called directly, because we only import files we actually need.
-----------------------------------------------------------------------------*/
// Core variables and mixins
@import "../../node_modules/bootstrap/less/variables.less";
@import "../../node_modules/bootstrap/less/mixins.less";

// Reset and dependencies
@import "../../node_modules/bootstrap/less/normalize.less";
@import "../../node_modules/bootstrap/less/print.less";
@import "../../node_modules/bootstrap/less/glyphicons.less";

// Core CSS
@import "../../node_modules/bootstrap/less/scaffolding.less";
@import "../../node_modules/bootstrap/less/type.less";
// @import "../../node_modules/bootstrap/less/code.less";
@import "../../node_modules/bootstrap/less/grid.less";
// @import "../../node_modules/bootstrap/less/tables.less";
@import "../../node_modules/bootstrap/less/forms.less";
@import "../../node_modules/bootstrap/less/buttons.less";

// Components
@import "../../node_modules/bootstrap/less/component-animations.less";
@import "../../node_modules/bootstrap/less/dropdowns.less";
@import "../../node_modules/bootstrap/less/button-groups.less";
// @import "../../node_modules/bootstrap/less/input-groups.less";
@import "../../node_modules/bootstrap/less/navs.less";
@import "../../node_modules/bootstrap/less/navbar.less";
@import "../../node_modules/bootstrap/less/breadcrumbs.less";
// @import "../../node_modules/bootstrap/less/pagination.less";
// @import "../../node_modules/bootstrap/less/pager.less";
@import "../../node_modules/bootstrap/less/labels.less";
// @import "../../node_modules/bootstrap/less/badges.less";
// @import "../../node_modules/bootstrap/less/jumbotron.less";
// @import "../../node_modules/bootstrap/less/thumbnails.less";
// @import "../../node_modules/bootstrap/less/alerts.less";
// @import "../../node_modules/bootstrap/less/progress-bars.less";
// @import "../../node_modules/bootstrap/less/media.less";
// @import "../../node_modules/bootstrap/less/list-group.less";
// @import "../../node_modules/bootstrap/less/panels.less";
// @import "../../node_modules/bootstrap/less/responsive-embed.less";
// @import "../../node_modules/bootstrap/less/wells.less";
// @import "../../node_modules/bootstrap/less/close.less";

// Components w/ JavaScript
// @import "../../node_modules/bootstrap/less/modals.less";
// @import "../../node_modules/bootstrap/less/tooltip.less";
// @import "../../node_modules/bootstrap/less/popovers.less";
@import "../../node_modules/bootstrap/less/carousel.less";

// Utility classes
@import "../../node_modules/bootstrap/less/utilities.less";
@import "../../node_modules/bootstrap/less/responsive-utilities.less";
/*----------------------------------------------------------------------------
End of Bootstrap import..
-----------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------
Importing custom variables..

Overriding default bootstrap values.
-----------------------------------------------------------------------------*/
@import "variables.less";
@import "header.less";
@import "footer.less";
@import "datepicker.less";
@import "breadcrumbs.less";
// @import "carousel-fade.less";
/*----------------------------------------------------------------------------
End of custom variables import..
-----------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------
Importing common custom styles..

Costum style groups.
-----------------------------------------------------------------------------*/
// @import "header.less";
// @import "breadcrumbs.less";
// @import "cta-ribbon.less";
// @import "event.less";
// @import "footer.less";

// @import "animate.less";
/* -- END --------------------------------------------------------------------*/


/*----------------------------------------------------------------------------
Writting common custom styles that are not included in files (too minior)..
-----------------------------------------------------------------------------*/
body {
	background-color: #f5f5f5;
	background-color: #eeeeee;
	// font-family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: @blue;

	&:hover,
	&:focus {
		color: @yellow;
	}
}

#content {
	min-height: 500px;
}

.flex {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	overflow: hidden;
}

.flex-center {
	display: block;
	width: 100%;
	height: auto;
}

.animate-all(@sec: .1s) {
	-webkit-transition: all @sec ease-in-out;
	-moz-transition: 	all @sec ease-in-out;
	-o-transition: 		all @sec ease-in-out;
	transition: 		all @sec ease-in-out;
}

.btn {
	outline: none;
	focus: none;

	&.blue {
		background-color: @blue;
		border-radius: 3px;
		font-size: 12px;
		color: @white;
		font-weight: 600;

		i {
			margin-left: 5px;
		}

	}

	&.yellow {
		background-color: @yellow;
		border-radius: 3px;
		font-size: 12px;
		color: @white;
		font-weight: 600;

		i {
			margin-left: 5px;
		}

	}
}