#footer {
	margin-top: 100px;
	color: @white;

	.seo,
	.seo a {
		font-size: 11px;
		font-weight: 200;
		color: @gray5;
		margin-bottom: 20px;
	}

	.main {
		border-top: 1px solid #002f5e;
		background-color: @blue;
		padding-top: 20px;
		font-size: 12px;

		.logo {
			img {
				@media (max-width: @screen-xs-max) {margin: 0 auto;}
			}
		}

		.contact {
			font-weight: 200;
			margin-top: 15px;
			margin-bottom: 15px;
			@media (max-width: @screen-xs-max) {text-align: center;}

			a {
				color: @yellow;
			}
		}

		ul {
			list-style: none;
			font-weight: 200;
			margin: 50px 0;
			
			li {
				line-height: 18px;

				a {
					color: @white;
					
					&:hover {
						color: @yellow;
					}
				}
			}
		}
	}

	.bottom {
		border-top: 1px solid #003871;
		background-color: #004284;
		text-align: center;
		font-size: 11px;
		line-height: 17px;
		padding: 15px 0;
		font-weight: 200;
	}
}