@import "common/common.less"; // import common files

.search-box {
	vertical-align: bottom;
	position: relative;
	width: 100%;
	text-align: center;

	@media (max-width: @screen-xs-max) {
		height: initial;
	}

	.large-sb-inner {
		border-radius: 3px;
		background: rgba(0, 79, 158, .95);
		border: 1px solid rgba(0,0,0,.225);
		color: #fff;
		padding: 15px 15px 10px 15px;
		display: inline-block;
		z-index: 99;
		position: relative;
		text-align: center;
		bottom: 200px;
		max-width: 700px;

		@media (max-width: @screen-xs-max) {
			bottom: initial;
			top: 0;
			max-width: initial;
			border-radius: initial;
			background-color: @blue;
			padding: 20px 10px;
		}

		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			max-width: 572px;
			bottom: 222px;
		}

		.large-sb-wrap {
			display: inline-block;
			text-align: left;
			position: relative;

			.large-sb-wrap-inner {
				position: relative;

				h1,
				.h1 {
					font-size: 18px;
					font-weight: 600;
					margin: 0;
					margin-bottom: 5px;
				}

				h2,
				.h2 {
					font-size: 12px;
					font-weight: 200;
					margin: 0;
					margin-bottom: 10px;
					line-height: 18px;
				}

				form {
					.form-group-sm .form-control {
						height: 31px;

						@media (max-width: @screen-xs-max) {
							height: 50px;
						}
					}

					.remove-margin {
						margin-bottom: 0 !important;
					}

					.form-group {
						margin-bottom: 0;
						position: relative;

						@media (min-width: @screen-sm-min) {
							float: left;
						}
						
						input {
							background-color: white;
						}

						.input-daterange input {
							text-align: left;
						}

						&.fst-query {
							float: none;
							margin-bottom: 10px;
						}

						&.fst-cta {
							@media (min-width: @screen-sm-min) {
								float: right;
							}
						}

						#datepicker {
							.holderco {
								float: left;

								@media (min-width: @screen-sm-min) {
									margin-right: 10px;
								}
							}
						}

						.form-control {
							&#check-in,
							&#check-out,
							&#persons {
								width: initial;
								float: left;
								border-radius: 3px;

								@media (max-width: @screen-xs-max) {
									width: 100%;
									margin-bottom: 10px;
								}

								@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
									width: 149px;
									margin-bottom: 10px;
								}
							}

							&#persons {
								position: relative;
								margin-right: 9px;
							}

							@media (max-width: @screen-xs-max) {
								&#check-in,
								&#check-out {
									width: 97%;
									float: left;
									margin: 0;
									margin-bottom: 10px;
								}

								&#check-out {
									float: right;
								}
							}
						}

						#persons-dropdown {
							position: absolute;
							left: 0px;
							top: 33px;
							width: 220px;
							background-color: @yellow;
							position: absolute;
							z-index: 1000;
							min-width: 160px;
							list-style: none;
							background-color: #fff;
							border: 1px solid #ccc;
							border: 1px solid rgba(0,0,0,0.2);
							border-radius: 5px;
							-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
							-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
							box-shadow: 0 5px 10px rgba(0,0,0,0.2);
							-webkit-background-clip: padding-box;
							-moz-background-clip: padding;
							background-clip: padding-box;
							color: #333;
							font-size: 13px;
							line-height: 1.42857143;
							padding: 9px 10px 5px 10px ;
							color: @gray5;

							@media (max-width: @screen-xs-max) {
								top: 112px;
							}

							// @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
							// 	left: 318px;
							// 	top: 144px;
							// }

						    .title {
								font-weight: bold;
								margin-bottom: 12px;
						    }

						    .person-row {
						    	margin-bottom: 10px;

						    	.type {
						    		font-weight: bold;
						    	}
						    }
							
							#ages {
								margin-bottom: 10px;

								.title {
									margin-top: 10px;
									margin-bottom: 5px;
								}
							}

						    label {
						    	font-weight: normal;
						    	font-size: 12px;
						    }

						    .form-group {
						    	margin-bottom: 0;
						    }

						    &:before {
								content: '';
								display: inline-block;
								border-left: 7px solid transparent;
								border-right: 7px solid transparent;
								border-bottom: 7px solid #ccc;
								border-top: 0;
								border-bottom-color: rgba(0,0,0,0.2);
								position: absolute;
								
								top: -7px;
								left: 6px;
							}
							
							&:after {
								top: -6px;
								left: 7px;
								content: '';
								display: inline-block;
								border-left: 6px solid transparent;
								border-right: 6px solid transparent;
								border-bottom: 6px solid #fff;
								border-top: 0;
								position: absolute;
							}
						}

						.form-control:focus {
							// border-color: @yellow;
							border-color: @white;
							outline: 0;
							-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
							box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
						}

						@media (max-width: @screen-xs-max) {
							.holderco {
								width: 50%;
								float: left;
							}
						}

						.btn {
							float: right;
							@media (max-width: @screen-xs-max) {
								width: 100%;
								padding: 12px 12px;
								font-size: 16px !important;
							}
						}
					}
					
					.checkbox {
						font-size: 11px;
						width: 100%;
						float: left;
						margin: 0;
						font-weight: 200;
						line-height: 20px;
						z-index: 1;

						@media (max-width: @screen-xs-max) {
							width: initial;
							margin-top: 10px;
						}

						@media (min-width: @screen-md-min) {
							margin-top: 5px;
						}
					}
				}
			}
		}
	}
}