@import "common/common.less"; // import common files

.usp {
	text-align: center;
	padding-top: 10px;
	background-color: @white;

	@media (max-width: @screen-xs-max) {
		.no-padding {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.usp-content {
		border-bottom: 10px solid @yellow;
	}

	i {
		font-size: 30px;
		color: @yellow;
	}

	h3 {
		font-size: 14px;
		margin: 5px;
		color: @yellow;
		font-weight: bold;
	}

	p {
		font-size: 12px;
		color: @gray5;
	}
}