@import "common/common";

h1 {
	@include media-breakpoint-up(sm) {
		min-height:129px;
	}
}

h2 {
	font-size: 36px;
	color: $primary;
	font-weight: 600;

	@include media-breakpoint-down(sm) {
		font-size: 24px;
	}

	span {
		font-weight: 300;
	}
}

p {
	font-size: 16px;
	color: $gray;
}

h3 {
	font-size: 26px;
	color: $primary;
	font-weight: 600;

	@include media-breakpoint-down(sm) {
		font-size: 20px;
		font-weight: 500;
	}
}

.why {
	padding-left: 50px;

	li {
		list-style: none;

		i {
			margin-left: -50px;
			color: $secondary;
			font-size: 40px;
			position: absolute;
			margin-top: -8px;
			
			@include media-breakpoint-down(xs) {
				font-size: 30px;
				margin-left: -40px;
				margin-top: -3px;
			}
		}

		h3 {
			font-size: 24px;
			color: $primary;
			margin-bottom: 5px;

			@include media-breakpoint-down(xs) {
				font-size: 20px;
			}
		}

		p {
			border-bottom: 1px solid #eee;
			padding-bottom: 15px;
		}

		&:last-child {
			p {
				border-bottom: 0;
				padding-bottom: inherit;
			}
		}
	}
}

form {
	background-color: #f7f7f7;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	margin-top: 20px;

	@include media-breakpoint-down(xs) {
	// 	margin-left: 50px;
		border: none;
		border-radius: 0;
		left: -15px;
		position: relative;
		width: calc(100% + 30px);
	}

	.form-control:focus {
		border-color: $secondary;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(253, 184, 19, 0.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(253, 184, 19, 0.6);
	}

	.personal-data {
		padding: 15px 15px 5px 15px;
		font-size: 14px;

		.form-group {
			margin-bottom: 10px;

			.title {
				color: $primary;
				font-weight: bold;
				font-size: 18px;
				margin-bottom: 5px;
			}

			label {
				font-weight: 600;
			}

			// @media (min-width: @screen-md-min) {
				// margin-bottom: 5px;

				select {
					&#title,
					&#country,
					&#payment-type,
					&#credid-card-valid-month,
					&#credid-card-valid-year {
						&.place_holder{
							color: #999999;
						}

						option{
							color: #000000;
						}
					}
				}
				
				label {
					color: $primary;
				}

				textarea {
					resize: none;
					height: 55px !important;

					@include media-breakpoint-down(sm) {
						height: 75px !important;
					}
				}

				.form-control {
					font-size: 14px;
					height: 40px;

					&#title,
					&#post,
					&#country,
					&#payment-type,
					&#credid-card-valid-month,
					&#credid-card-valid-year,
					&#cvc-number {
						width: initial;
					}

					&#cvc-number {
						width: 45px;
						float: left;
					}
				}
			// }

			
			i {
				&.fa-question-circle {
					float: left;
					color: $gray;
					font-size: 14px;
					line-height: 30px;
					margin-left: 5px;
				}
			}
		}
	}

	.terms {
		margin-bottom: 20px;

		p {
			margin-bottom: 0;
			font-size: 12px;

			a {
				color: $gray;
				text-decoration: underline;
			}
		}
	}

	.cta {
		margin-bottom: 20px;

		.btn {
			width: 100%;
			padding: 10px;
			font-size: 14px;
		}
	}

	.success {
		text-align: center;
		padding: 50px;

		i.fa {
			color: $secondary;
			font-size: 100px;
		}

		.title {
			font-size: 24px;
			color: $primary;
			margin-bottom: 5px;
		}

		p {
			color: $gray;
		}

		img {
			margin-top: 10px;
			display: inline-block;
		}
	}
}

.testimonial {
	margin: 50px 0;
	background: #f7f7f7;
	padding: 50px 0;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;

	> .row {
		margin-left: initial;
		margin-right: initial;
	}

	#testimonial-carousel {
		position: relative;

		.carousel-inner {
			@include media-breakpoint-down(sm) {height: 250px;}
			@include media-breakpoint-down(sm) {height: 130px;}
			@include media-breakpoint-up(lg) {height: 120px;}

			.item {
				@include media-breakpoint-down(sm) {
					opacity: 0;
					display: block !important;
					position: absolute;
					width: 100%;
					top: 0;
				}

				@include media-breakpoint-down(sm) {height: 130px;}
				@include media-breakpoint-up(lg) {height: 120px;}

				@include animate-opacity(.5s);

				&.active {
					opacity: 1;

					@include animate-opacity(.5s);
				}
			}
		}
		

		.carousel-caption {
			position: inherit;
			left: 0;
			right: 0;
			padding: 0;
			text-shadow: none;
			text-align: left;
			bottom: 0;
			margin: 0;

			color: $primary;
			@include media-breakpoint-down(sm) {text-align: center;}

			p {
				font-weight: 200;
				text-align: center;
				padding: 0 10%;
				color: $primary;
				margin: 0 0 20px 0;
				
				font-size: 1.75em;

				@include media-breakpoint-down(sm) {font-size: 2em;}
				@include media-breakpoint-up(lg) {font-size: 2.5em;}
			}
		}
		
		.carousel-indicators {
			position: relative;
			left: inherit;
			width: inherit;
			margin: 0;
			list-style: inherit;
			text-align: inherit;
			display: flex;
			bottom: inherit;
			padding: 0;
			height: 75px;
			overflow: hidden;

			li {
				flex-grow: 1;
				width: inherit !important;
				height: inherit !important;
				border: 0 !important;
				border-radius: 0 !important;
				margin: 0 !important;
				padding: 0 !important;
				text-indent: inherit !important;
				justify-content: center;
				align-items: center;
				opacity: .5;
				display: flex;

				background-color: #f7f7f7;

				@include media-breakpoint-down(sm) {display: inherit !important;}

				@include animate-opacity(.5s);

				img {
					width: 75px !important;
					height: 75px !important;
					border-radius: 100%;
					border: 1px solid #ddd;
					margin-right: 10px;
				}

				
				&.active {
					opacity: 1;

					@include animate-opacity(.5s);
				}
			}
		}
		
		.txt {
			@include media-breakpoint-down(sm) {margin-bottom: 20px;}

			.name {color: #555;}

			.from {
				color: #999;
				font-weight: 200;
			}
		}
	}
}

.channel-manager {
	position: relative;

	@media (max-width: 374px) {
		margin: 20px 0 0 0 !important;
	}
	
	> img {
		&.landscape {
			width: 810px;
			height: 430px;
		}

		&.portrait {
			width: 510px;
			
			@include media-breakpoint-down(xs) {
				height: 545px;
				width: 345px;
			}
		}
	}

	.your-property {
		position: absolute;
		top: 133px;
		// background-color: $primary;
		width: 140px;
		height: 140px;
		border-radius: 100%;

		@include media-breakpoint-down(xs) {
			position: absolute;
			top: 9px;
			width: 95px;
			height: 95px;
			border-radius: 100%;
			left: calc(50% - 50px);

			img {
				max-width: 50px;
			}
		}

		@media (max-width: 374px) {
			position: absolute;
			top: 51px;
			width: 80px;
			height: 80px;
			border-radius: 100%;
			left: calc(50% - 43px);

			img {
				max-width: 40px;
			}
		}
		
		// @media (max-width: 375px) {
		// 	position: absolute;
		// 	top: 14px;
		// 	width: 140px;
		// 	height: 140px;
		// 	border-radius: 100%;
		// 	left: calc(50% - 74px);
		// }

		@include media-breakpoint-only(sm) {
			position: absolute;
			top: 14px;
			width: 140px;
			height: 140px;
			border-radius: 100%;
			left: calc(50% - 74px);
		}

		@include media-breakpoint-only(md) {left: 0px;}
		@include media-breakpoint-only(lg) {left: 80px;}
		@include media-breakpoint-only(xl) {left: 170px;}
		
		.changingword {
			position: absolute;
			bottom: -38px;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 14px;
			color: $primary;
			width: 250px;
			text-align: center;

			@include media-breakpoint-down(xs) {
				bottom: initial;
				top: -37px;
			}

			@media (max-width: 320px) {
				top: -37px;
				bottom: initial;
			}
			
			@media (max-width: 375px) {
				top: -37px;
				bottom: initial;
			}

			@include media-breakpoint-only(sm) {
				top: -37px;
				bottom: initial;
			}
		}
	}
}

.features-landscape {
	position: relative;

	> img {
		&.landscape {
			width: 1140px;
			height: 460px;
		}

		&.portrait {
			@include media-breakpoint-down(xs) {}
		}
	}

	.your-property {
		position: absolute;
		left: 170px;
		top: 133px;
		// background-color: $primary;
		width: 140px;
		height: 140px;
		border-radius: 100%;
	}
}

.compare {
	position: relative;

	&:after {
		content: "oz";
		font-size: 10px;
		width: 25px;
		height: 25px;
		background-color: #004284;
		color: $white;
		border-radius: 100%;
		padding: 5px;
		display: inline-block;
		text-align: center;
		position: absolute;
		right: -12px;
		top: calc(50% - 12px);
		
		@include media-breakpoint-down(xs) {
			right: calc(50% - 40px);
			bottom: -28px;
			top: initial;
		}
		
		
	}

	@include media-breakpoint-only(sm) {
		&:nth-child(2) {
			&::after {
				display: none;
			}
		}
	}
}

.table-compare-holder {
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-color: white;
		height: 24px;
		z-index: 1;
	}

	&:after {
		content: "";
		position: absolute;
		height: 24px;
		left: 0;
		right: 0;
		background-color: white;
		bottom: 0;
		z-index: 1;
	}
}

.table {
	&.pricing {
		border: none;
		text-align: center;
		min-height: 400px;

		@include media-breakpoint-down(sm) {
			min-height: initial;
		}

		td,
		th {
			width: 50%;
		}

		thead {
			th {
				background-color: $white;
				color: $primary;
				text-transform: uppercase;
				font-size: 12px;
				padding: 10px;
				border: none;
				
				&:first-child {
					border-radius: 4px 0 0 0;
				}
				
				&:last-child {
					border-radius: 0 4px 0 0;
				}
			}
		}

		td {
			font-size: 12px;
			font-weight: 600;
			padding: 10px;
			color: $white;
			text-align: center;
			background-color: #004284;
			border-color: #004284;
		}

		tbody {
			tr {
				&:last-child {
					td {
						&:first-child {
							border-radius: 0 0 0 4px;
						}
						
						&:last-child {
							border-radius: 0 0 4px 0;
						}
					}
				}
			}
		}
	}

	&.table-compare {
		font-size: 12px;
		color: $primary;

		// @include media-breakpoint-down(xs) {
		// 	padding-left: 50vw;

		// 	&:before {
		// 		content: "";
		// 		position: absolute;
		// 		left: 0;
		// 		top: 24px;
		// 		width: 50vw;
		// 		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
		// 		background-color: white;
		// 		bottom: 24px;
		// 	}

		// 	thead,
		// 	tbody {
		// 		tr {
		// 			> th, td {
		// 				padding-left: 15px;
		// 			}
		// 		}
		// 	}

		// 	tr {
		// 		@include media-breakpoint-down(xs) {
		// 			&:nth-of-type(even) {
		// 				> th, td {
		// 					background-color: #FFFFFF;
		// 				}
		// 			}
		// 			&:nth-of-type(odd) {
		// 				> th, td {
		// 					background-color: #F2F2F2;
		// 				}
		// 			}

		// 			> th, td {
		// 				height: 75px;
		// 				vertical-align: middle;

		// 				&.high {
		// 					height: 110px;
		// 				}
						
		// 				&:nth-child(1) {
		// 					position: absolute;
		// 					left: 0;
		// 					min-width: 50vw;
		// 					width: 50vw;
		// 					overflow: hidden;
		// 					z-index: 1;
		// 					display: flex;
		// 					align-items: center;
		// 				}
						
		// 				&:nth-child(2) {
		// 					// background-color: blue;
		// 					// position: absolute;
		// 					// left: 40vw;
		// 					// width: 75px;
		// 					// overflow: hidden;
		// 					// z-index: 1;
		// 				}
		// 			}
		// 		}
		// 	}
		// }

		thead {
			th {
				border: none;
				padding-left: 0;
				max-width: 40%;
				width: 40%;
			}
			
			td {
				border: none;
				font-size: 16px;
				text-align: center;
				font-weight: 700;
				vertical-align: middle;
			}
		}
		
		tbody {
			
			th {
				border: none;
				font-weight: 600;
				vertical-align: middle;
			}
			
			td {
				border: none;
				text-align: center;
				vertical-align: middle;
	
				i {
					font-size: 24px;
				}
			}
		}
		
	}
}

.carousel {
	.carousel-indicators {
		bottom: 70px;
		margin: 0;

		@include media-breakpoint-down(xs) {
			bottom: 55px;
		}

		li {
			background-color: $primary;
			width: 8px;
			height: 8px;
			margin-right: 4px;
			margin-left: 4px;
			background-clip: initial;
			border-top: initial;
			border-bottom: initial;
			opacity: 1;
			border-radius: 4px;

			&.active {
				width: 16px;
			}
		}
	}

	.carousel-item {
		.card {
			> img {
				width: 80px;
				height: 80px;
				position: absolute;
				left: calc(50% - 40px);
				top: -40px;
				z-index: 1;
			}
		}
	}

	.carousel-control-prev,
	.carousel-control-next {
		.carousel-control-prev-icon,
		.carousel-control-next-icon {
			background: none;
			color: $gray;
			width: 37px;
			height: 37px;

			&:after {
				font-family: "Font Awesome 5 Pro";
				font-size: 36px;
				line-height: 1;

				@include media-breakpoint-down(xs) {
					font-size: 18px;
				}
			}
		}
		
		.carousel-control-prev-icon {
			&:after {
				content: "\f104";
			}
		}
		.carousel-control-next-icon {
			&:after {
				content: "\f105";
			}
		}
	}
	
}

.mood {
	@include media-breakpoint-down(sm) {
		min-height: calc(50vh - 80px);
		display: flex;
		align-items: center;

		.container {
			height: 100%;
			display: flex;
			text-align: center;
		}
	}
}

.badge {
	@include media-breakpoint-up(sm) {
		img {
			margin-bottom: 30px;
		}
	}
	
	@include media-breakpoint-up(md) {
		width: 75px;
		left: calc(50% - 37px);
		top: calc(50% - 37px);
		z-index: 1;
		overflow: hidden;
		padding: 0;
		
		img {
			width: 75px;
			margin-bottom: 0px;
		}
	}

	@include media-breakpoint-up(lg) {
		width: 120px;
		left: calc(50% - 60px);
		top: calc(50% - 60px);
		
		img {
			width: 120px;
		}
	}
	
	@include media-breakpoint-up(xl) {
		width: 150px;
		left: calc(50% - 75px);
		top: calc(50% - 75px);
		
		img {
			width: 150px;
		}
	}
}

.counter {
	background-color: #004284;
	padding: 12px 12px 11px 12px;
	border-radius: 4px;
	margin-top: 5px;
	position: relative;

	.countBeds,
	.countNights {
		text-align: center;
		font-size: 18px;
		background: none;
		border: none;
		padding: 0;
		color: $white;
		font-weight: 600;
		position: relative;
		-moz-appearance:textfield;
		height: 30px;

		&::-webkit-inner-spin-button, 
		&::-webkit-outer-spin-button { 
			-webkit-appearance: none; 
			margin: 0; 
		}
	}

	img {
		z-index: 1;
		position: relative;
	}
}

.catch-table-padding {
	@include media-breakpoint-up(lg) {
		padding: 13px 60px 10px 60px !important;

	}
	@include media-breakpoint-up(xl) {
		padding: 31px 60px 10px 60px !important;
	}
}

#price-result {
	border-radius: 4px;
	margin-top: 6px;
	position: relative;
	line-height: 51px;
	transition:
		color .25s ease-out,
		background-color .25s ease-out,
	;
	
	&.highlighted {
		// color: $secondary !important;
		background-color: $secondary;
	}
}

.focused {
	-webkit-box-shadow: inset 0px 0px 0px 2px $white;
	-moz-box-shadow: inset 0px 0px 0px 2px $white;
	box-shadow: inset 0px 0px 0px 2px $white;
}

.gsd {
	color: $secondary !important;
	font-weight: 600;
	text-align: center;
	margin-top: 10px;
}